# Avocado Project

In [ ]:
Problem Statement:
Avocado is a fruit consumed by people heavily in the United States.

Content :

This data was downloaded from the Hass Avocado Board website in May of 2018 & compiled into a single CSV.

The table below represents weekly 2018 retail scan data for National retail volume (units) and price. Retail scan data comes directly from retailers’ cash registers based on actual retail sales of Hass avocados.

Starting in 2013, the table below reflects an expanded, multi-outlet retail data set. Multi-outlet reporting includes an aggregation of the following channels: grocery, mass, club, drug, dollar and military. The Average Price (of avocados) in the table reflects a per unit (per avocado) cost, even when multiple units (avocados) are sold in bags. The Product Lookup codes (PLU’s) in the table are only for Hass avocados. Other varieties of avocados (e.g. greenskins) are not included in this table.

Some relevant columns in the dataset:

Date - The date of the observation
AveragePrice - the average price of a single avocado
type - conventional or organic
year - the year
Region - the city or region of the observation
Total Volume - Total number of avocados sold
4046 - Total number of avocados with PLU 4046 sold
4225 - Total number of avocados with PLU 4225 sold
4770 - Total number of avocados with PLU 4770 sold
Inspiration /Label

The dataset can be seen in two angles to find the region and find the average price .

Task: One of Classification and other of Regression

Do both tasks in the same .ipynb file and submit at single file.

### Importing require library for performing EDA, Data Wrangling and data cleaning

In [ ]:
import pandas as pd # for data wrangling purpose
import numpy as np # Basic computation library
import seaborn as sns # For Visualization 
import matplotlib.pyplot as plt # ploting package
%matplotlib inline
import warnings # Filtering warnings
warnings.filterwarnings('ignore')

In [1]:
#  Importing Avocado Csv file using pandas

In [ ]:
df=pd.read_csv('avocado.csv')

In [ ]:
print('No of Rows:',df.shape[0])
print('No of Columns:',df.shape[1])
df.head()

No of Rows: 18249
No of Columns: 14

Unnamed: 0	Date	AveragePrice	Total Volume	4046	4225	4770	Total Bags	Small Bags	Large Bags	XLarge Bags	type	year	region
0	0	2015-12-27	1.33	64236.62	1036.74	54454.85	48.16	8696.87	8603.62	93.25	0.0	conventional	2015	Albany
1	1	2015-12-20	1.35	54876.98	674.28	44638.81	58.33	9505.56	9408.07	97.49	0.0	conventional	2015	Albany
2	2	2015-12-13	0.93	118220.22	794.70	109149.67	130.50	8145.35	8042.21	103.14	0.0	conventional	2015	Albany
3	3	2015-12-06	1.08	78992.15	1132.00	71976.41	72.58	5811.16	5677.40	133.76	0.0	conventional	2015	Albany
4	4	2015-11-29	1.28	51039.60	941.48	43838.39	75.78	6183.95	5986.26	197.69	0.0	conventional	2015	Albany

In [ ]:
df.columns

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region'],
      dtype='object')

In [ ]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [ ]:
df.head()

Date	AveragePrice	Total Volume	4046	4225	4770	Total Bags	Small Bags	Large Bags	XLarge Bags	type	year	region
0	2015-12-27	1.33	64236.62	1036.74	54454.85	48.16	8696.87	8603.62	93.25	0.0	conventional	2015	Albany
1	2015-12-20	1.35	54876.98	674.28	44638.81	58.33	9505.56	9408.07	97.49	0.0	conventional	2015	Albany
2	2015-12-13	0.93	118220.22	794.70	109149.67	130.50	8145.35	8042.21	103.14	0.0	conventional	2015	Albany
3	2015-12-06	1.08	78992.15	1132.00	71976.41	72.58	5811.16	5677.40	133.76	0.0	conventional	2015	Albany
4	2015-11-29	1.28	51039.60	941.48	43838.39	75.78	6183.95	5986.26	197.69	0.0	conventional	2015	Albany

### Statistical Analysis

In [ ]:
Before Going for Statistical exploration of data, first check integrity of data & Missing value

### Data Integrity Check

### Since dataset is large, Let check for any entry which is repeated or duplicated in dataset at same date.

In [ ]:
df.duplicated().sum()  # This will check the duplicate data for all columns.

0
Comment:
Dataset doesnot contain Any duplicate entry. So Yes To Go !!!

### Missing value check

In [ ]:
plt.figure(figsize=(10,6))
sns.heatmap(df.isnull())

In [ ]:
missing_values = df.isnull().sum().sort_values(ascending = False)
percentage_missing_values =(missing_values/len(df))*100
print(pd.concat([missing_values, percentage_missing_values], axis =1, keys =['Missing Values', '% Missing data']))

In [ ]:
  Missing Values  % Missing data
region                     0             0.0
year                       0             0.0
type                       0             0.0
XLarge Bags                0             0.0
Large Bags                 0             0.0
Small Bags                 0             0.0
Total Bags                 0             0.0
4770                       0             0.0
4225                       0             0.0
4046                       0             0.0
Total Volume               0             0.0
AveragePrice               0             0.0
Date                       0             0.0
Comment:
There is no missing values in dataset.

### Datatype Check

In [ ]:
df.info()

In [ ]:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype  
---  ------        --------------  -----  
 0   Date          18249 non-null  object 
 1   AveragePrice  18249 non-null  float64
 2   Total Volume  18249 non-null  float64
 3   4046          18249 non-null  float64
 4   4225          18249 non-null  float64
 5   4770          18249 non-null  float64
 6   Total Bags    18249 non-null  float64
 7   Small Bags    18249 non-null  float64
 8   Large Bags    18249 non-null  float64
 9   XLarge Bags   18249 non-null  float64
 10  type          18249 non-null  object 
 11  year          18249 non-null  int64  
 12  region        18249 non-null  object 
dtypes: float64(9), int64(1), object(3)
memory usage: 1.8+ MB
Comment :
There are 13 features in data.
Region has object datatype.
Date by default data type is object which need to change to datetime datatype.
Other variable are float & int datatypes.

In [ ]:
# Converting datatype of date column
df['Date']=pd.to_datetime(df.Date)

In [ ]:
df['Date'].dtype

dtype('<M8[ns]')

### Statistical Matrix

In [ ]:
# Visualizing the statistics of the columns using heatmap.
plt.figure(figsize=(20,8))
sns.heatmap(df.describe(),linewidths = 0.1,fmt='0.1f',annot = True,cmap='PiYG')

<AxesSubplot:>

In [ ]:
df.describe().T.round(3)

	count	mean	std	min	25%	50%	75%	max
AveragePrice	18249.0	1.406	0.403	0.44	1.10	1.37	1.66	3.25
Total Volume	18249.0	850644.013	3453545.355	84.56	10838.58	107376.76	432962.29	62505646.52
4046	18249.0	293008.425	1264989.082	0.00	854.07	8645.30	111020.20	22743616.17
4225	18249.0	295154.568	1204120.401	0.00	3008.78	29061.02	150206.86	20470572.61
4770	18249.0	22839.736	107464.068	0.00	0.00	184.99	6243.42	2546439.11
Total Bags	18249.0	239639.202	986242.399	0.00	5088.64	39743.83	110783.37	19373134.37
Small Bags	18249.0	182194.687	746178.515	0.00	2849.42	26362.82	83337.67	13384586.80
Large Bags	18249.0	54338.088	243965.965	0.00	127.47	2647.71	22029.25	5719096.61
XLarge Bags	18249.0	3106.427	17692.895	0.00	0.00	0.00	132.50	551693.65
year	18249.0	2016.148	0.940	2015.00	2015.00	2016.00	2017.00	2018.00
Comment :
We can easily suspect that some of the features contain outliers after looking at 50% and max columns.
For most of columns have minimum value of zero.
Almost in all columns value of mean is greater than median. Data is right skewed.
For most of columns value of std. deviation is greater than mean i.e. data is spread.

### Lets do some Statistical Analysis. Start with find Average price of avocodo over the timeframe and according types

In [ ]:
print("\033[1m"+'Minimum Price of Avocado :'+"\033[0m",df.AveragePrice.min(),'USD')
print("\033[1m"+'Maximum Price of avacado :'+"\033[0m",df.AveragePrice.max(),'USD')
print("\033[1m"+'Average Price of avacado :'+"\033[0m",df.AveragePrice.mean(),'USD')

Minimum Price of Avocado : 0.44 USD
Maximum Price of avacado : 3.25 USD
Average Price of avacado : 1.4059784097758825 USD
Avacado varies from 0.44 USD To 3.25 USD with average price of 1.40 USD per unit

In [ ]:
plt.figure(figsize=(12,7))
plt.title('Distribution Price')
sns.distplot(df["AveragePrice"], color='b')

In [ ]:
df['type'].value_counts()0ppppp

conventional    9126
organic         9123
Name: type, dtype: int64

In [ ]:
df.groupby('type')['AveragePrice'].mean()

type
conventional    1.158040
organic         1.653999
Name: AveragePrice, dtype: float64

In [ ]:
print("\033[1m"+'Percentage difference in price of avacado :'+"\033[0m",((1.65399-1.1580)/1.1580)*100,"%")

Percentage difference in price of avacado : 42.831606217616596 %

In [ ]:
plt.figure(figsize=(8,6))
sns.boxplot(y="type", x="AveragePrice", data=df, palette = 'hsv')

<AxesSubplot:xlabel='AveragePrice', ylabel='type'>

Comment :
Oraganic Avocado is almost 43% more costlier than conventional Avacado.
We can see that Average Price of Organic Avocado is higher than Conventional Avocado.
This obvious as cultivation of organic avocado is expensive, time taking process demanding much effort & patience.Also health cautious and quality oriented people are willing to pay more price for it.
Before going deeper with Average price to gain more insight as it has lot more to explore, just let do quick check over volumetric sell of Avacado. Normal tendency of most people is they dont want to pay more price so most probably if such scenerio exist then it will be reflected in total sales.

In [ ]:
labels = 'Conventional','Organic',
fig, ax = plt.subplots()
ax.pie(df.groupby('type')['Total Volume'].mean(),labels = labels,radius =2,autopct = '%2.2f%%',explode=[0.3,0.2], shadow=True,)
plt.show()

In [ ]:
df.groupby('type')['Total Volume'].mean()

type
conventional    1.653213e+06
organic         4.781121e+04
Name: Total Volume, dtype: float64

In [ ]:
plt.figure(figsize=(10,6))
sns.barplot(x='year', y='Total Volume', hue='type',data=df, palette='coolwarm',ci=68)
plt.show()

Comment -
The sell of organic avacodo is less than 3 %.
Conventional Avacado are in more demand.
Barplot confirm same thing in yearwise sales volume.
The Average price varies over year and season , lets dive to get some more insight over it.

In [ ]:
pd.crosstab([df.type,df.year],df.AveragePrice, margins= True).style.background_gradient(cmap='summer_r')

AveragePrice	0.44	0.46	0.48	0.49	0.51	0.52	0.53	0.54	0.55	0.56	0.57	0.58	0.59	0.6	0.61	0.62	0.63	0.64	0.65	0.66	0.67	0.68	0.69	0.7	0.71	0.72	0.73	0.74	0.75	0.76	0.77	0.78	0.79	0.8	0.81	0.82	0.83	0.84	0.85	0.86	0.87	0.88	0.89	0.9	0.91	0.92	0.93	0.94	0.95	0.96	0.97	0.98	0.99	1.0	1.01	1.02	1.03	1.04	1.05	1.06	1.07	1.08	1.09	1.1	1.11	1.12	1.13	1.14	1.15	1.16	1.17	1.18	1.19	1.2	1.21	1.22	1.23	1.24	1.25	1.26	1.27	1.28	1.29	1.3	1.31	1.32	1.33	1.34	1.35	1.36	1.37	1.38	1.39	1.4	1.41	1.42	1.43	1.44	1.45	1.46	1.47	1.48	1.49	1.5	1.51	1.52	1.53	1.54	1.55	1.56	1.57	1.58	1.59	1.6	1.61	1.62	1.63	1.64	1.65	1.66	1.67	1.68	1.69	1.7	1.71	1.72	1.73	1.74	1.75	1.76	1.77	1.78	1.79	1.8	1.81	1.82	1.83	1.84	1.85	1.86	1.87	1.88	1.89	1.9	1.91	1.92	1.93	1.94	1.95	1.96	1.97	1.98	1.99	2.0	2.01	2.02	2.03	2.04	2.05	2.06	2.07	2.08	2.09	2.1	2.11	2.12	2.13	2.14	2.15	2.16	2.17	2.18	2.19	2.2	2.21	2.22	2.23	2.24	2.25	2.26	2.27	2.28	2.29	2.3	2.31	2.32	2.33	2.34	2.35	2.36	2.37	2.38	2.39	2.4	2.41	2.42	2.43	2.44	2.45	2.46	2.47	2.48	2.49	2.5	2.51	2.52	2.53	2.54	2.55	2.56	2.57	2.58	2.59	2.6	2.61	2.62	2.63	2.64	2.65	2.66	2.67	2.68	2.69	2.7	2.71	2.72	2.73	2.74	2.75	2.76	2.77	2.78	2.79	2.8	2.81	2.82	2.83	2.84	2.85	2.86	2.87	2.88	2.89	2.9	2.91	2.92	2.93	2.94	2.95	2.96	2.97	2.99	3.0	3.03	3.04	3.05	3.12	3.17	3.25	All
type	year																																																																																																																																																																																																																																																																				
conventional	2015	0	0	0	1	1	1	3	1	0	4	2	2	0	4	2	2	1	1	3	4	6	3	1	7	13	8	8	18	13	13	15	18	21	22	15	20	25	10	18	8	14	19	26	20	26	28	42	35	42	54	68	80	80	67	65	70	78	65	69	68	65	73	74	65	70	59	67	60	65	63	62	59	64	48	46	47	45	52	47	43	29	25	18	17	8	21	26	14	15	25	10	13	10	14	5	5	13	12	5	2	5	2	2	4	1	4	3	5	1	4	1	2	3	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	2808
2016	0	0	0	0	1	0	0	3	2	4	2	7	2	3	6	5	7	7	7	1	7	7	13	17	11	14	16	17	16	27	26	22	29	22	24	28	33	22	29	36	35	40	38	39	36	40	52	53	47	45	48	49	38	45	38	28	45	48	51	43	51	52	46	44	42	44	44	37	52	29	45	47	26	32	28	33	31	27	24	39	33	25	27	23	26	16	20	23	21	22	27	20	19	31	20	15	19	14	14	16	21	17	22	12	10	19	12	14	4	7	10	7	11	13	5	9	7	5	4	3	6	6	2	3	2	5	1	1	1	1	0	2	1	3	1	5	3	1	1	2	1	0	3	1	0	0	1	1	1	0	0	0	2	0	0	0	0	0	0	0	3	0	0	0	0	0	0	0	0	0	0	0	0	1	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	2808
2017	0	1	0	0	1	1	3	3	1	0	2	2	0	5	1	2	2	4	10	2	6	9	3	14	1	4	9	9	12	16	14	8	11	7	12	7	15	21	20	15	15	12	16	18	15	14	28	23	26	23	20	25	38	24	31	33	22	21	21	23	20	24	22	20	23	21	42	33	33	25	32	40	31	29	29	26	36	27	33	48	24	33	45	38	30	35	43	41	26	33	37	50	31	32	35	31	35	32	29	31	31	44	34	30	19	23	27	37	27	29	25	22	29	26	25	29	21	25	23	23	18	19	12	23	20	15	13	21	16	18	11	10	15	13	9	8	15	6	3	8	3	8	6	2	0	1	3	3	0	3	1	3	2	3	1	2	0	1	0	1	4	0	2	0	1	0	0	1	1	0	0	0	1	0	0	1	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	2862
2018	0	0	0	0	0	0	0	0	0	2	0	2	3	0	1	0	0	1	1	0	3	2	0	2	3	2	3	1	1	4	2	3	3	5	3	4	3	5	5	5	6	9	5	4	5	7	6	2	5	8	6	11	10	9	13	11	13	13	13	14	12	17	7	12	8	13	13	15	17	18	9	17	13	13	8	12	12	10	11	4	11	12	5	13	9	10	6	10	8	9	3	7	3	7	5	8	7	2	3	4	1	1	3	3	2	2	3	1	1	1	2	0	0	0	0	0	1	1	0	0	2	0	1	0	0	0	0	1	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	648
organic	2015	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	1	1	0	0	0	0	1	2	2	0	1	2	1	1	0	0	0	3	1	6	3	1	7	2	2	1	1	4	4	2	7	6	5	6	6	4	5	3	12	5	8	16	13	15	12	18	17	13	16	11	13	9	13	19	34	26	23	15	25	25	22	22	30	33	25	28	34	43	40	49	35	33	42	33	53	31	31	35	45	42	35	34	38	33	50	52	33	44	42	38	24	32	24	30	33	32	28	31	43	40	42	51	44	44	47	36	39	41	29	36	28	44	37	28	20	23	18	21	13	20	25	22	12	8	11	15	12	9	13	3	10	8	6	7	5	6	4	10	4	2	7	2	2	8	2	2	3	3	3	3	9	2	2	4	2	3	2	2	2	3	1	1	0	0	1	0	0	0	0	0	0	0	0	0	0	0	0	1	1	0	0	0	0	0	0	1	0	0	0	0	1	1	3	1	1	1	1	0	2	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	2807
2016	0	0	0	0	0	0	0	0	0	0	0	1	0	0	0	0	0	1	0	1	0	3	1	1	0	0	1	2	1	0	3	0	3	1	4	4	1	2	5	7	4	4	7	5	5	3	6	4	4	11	4	14	11	13	5	8	8	14	18	8	12	17	10	14	12	9	13	15	16	13	10	18	17	18	18	21	18	22	26	24	20	19	26	21	35	24	39	33	32	39	37	20	30	31	39	31	37	41	40	35	43	38	45	31	44	47	42	40	36	28	23	42	46	33	25	24	31	30	25	28	25	29	29	19	18	24	24	17	24	29	21	15	25	18	26	16	21	12	16	17	21	11	10	16	15	12	12	8	13	14	8	10	11	11	14	9	8	14	4	11	9	10	7	8	10	2	13	3	9	12	8	7	9	8	3	5	9	8	7	4	9	7	4	13	7	7	12	9	5	7	6	4	4	3	4	1	0	2	1	2	1	0	1	0	2	1	0	2	1	1	3	1	0	0	1	2	0	1	2	0	3	1	0	0	0	1	2	1	0	1	0	0	1	0	0	1	1	0	1	0	0	1	1	0	1	0	2	1	0	0	0	1	0	1	0	0	1	0	1	2808
2017	1	0	1	1	2	1	0	0	0	2	3	0	0	0	1	1	0	3	2	2	1	2	0	3	0	2	1	3	0	1	5	2	0	3	1	2	4	4	2	2	2	2	4	8	4	7	6	5	3	2	1	7	7	3	3	8	5	10	4	13	6	6	4	4	7	6	8	13	11	15	8	13	22	7	12	7	21	11	12	12	16	18	9	12	11	11	8	13	19	17	16	17	22	26	24	24	26	29	28	23	15	25	27	30	28	24	20	32	25	35	30	28	40	32	29	29	27	29	17	22	40	32	29	27	16	33	26	31	20	28	20	32	24	33	36	37	21	25	30	23	17	29	30	24	24	19	24	22	23	19	23	14	18	25	18	17	17	18	21	31	19	19	24	14	15	15	16	15	17	11	17	14	12	10	12	11	8	6	11	9	7	3	9	3	8	11	10	6	7	8	10	7	8	7	2	4	10	8	6	5	3	8	4	6	4	3	2	7	8	4	7	7	9	2	5	6	2	4	6	2	4	0	2	3	3	1	3	1	2	3	2	1	1	2	3	2	5	4	3	4	3	2	2	1	0	2	2	1	1	1	1	1	2	0	1	1	0	1	0	2860
2018	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	1	1	1	1	0	0	1	1	0	0	0	0	0	1	2	1	3	2	3	3	2	5	5	1	5	5	5	2	3	5	7	11	4	11	8	16	6	13	8	9	17	13	18	9	13	11	10	15	7	11	9	9	11	11	16	16	12	10	12	13	6	14	11	10	4	13	5	8	12	5	5	8	8	5	11	7	5	7	4	9	5	8	11	0	5	4	3	5	2	4	6	5	2	1	2	0	4	2	3	0	1	4	2	1	2	1	1	0	1	1	1	1	0	0	1	1	0	1	0	0	0	1	0	0	2	0	1	0	0	1	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	648
All		1	1	1	2	5	3	6	7	3	12	9	14	5	12	11	10	10	17	23	10	23	26	18	44	28	30	38	50	43	61	65	53	67	60	60	66	81	64	79	73	77	88	98	94	92	101	141	123	127	143	147	189	185	167	159	160	179	174	178	170	168	194	167	161	169	158	192	180	202	168	174	199	188	155	151	167	181	165	170	193	155	147	149	140	139	137	159	164	163	187	159	155	148	175	167	149	185	172	157	150	160	185	180	170	148	161	160	173	163	151	134	146	186	159	125	139	136	133	123	141	129	138	127	115	85	117	96	106	105	115	85	97	112	116	119	125	115	88	102	90	84	94	80	83	73	81	79	63	59	59	54	50	49	59	59	54	39	42	38	59	48	38	47	26	37	26	35	26	33	30	29	32	26	21	22	20	19	22	22	15	20	13	16	20	24	20	24	19	14	18	18	13	14	13	7	6	10	10	8	7	4	8	5	6	6	4	2	9	9	5	10	9	10	2	6	8	2	5	8	3	7	1	2	3	4	3	8	3	3	5	3	1	4	2	3	3	6	4	4	4	3	3	3	1	1	2	4	2	1	1	1	2	2	1	1	1	1	1	1	18249

In [ ]:
df.groupby(['year','type'])['AveragePrice'].agg([min,max,np.mean,np.median])

min	max	mean	median
year	type				
2015	conventional	0.49	1.59	1.077963	1.08
organic	0.81	2.79	1.673324	1.67
2016	conventional	0.51	2.20	1.105595	1.08
organic	0.58	3.25	1.571684	1.53
2017	conventional	0.46	2.22	1.294888	1.30
organic	0.44	3.17	1.735521	1.72
2018	conventional	0.56	1.74	1.127886	1.14
organic	1.01	2.30	1.567176	1.55
Comment :
Oraganic Avocado is 40-50% costlier than conventional avacado.
Avacodo got price hike in year 2017 as result of some reason may be inflation,shortage, more wages.
Except 2017 each year their is incresase in price of avacado.
Price hike over time, its okay !!!

But what about demand over timeframe ?, Lets check trend of demand through volume sell in next section.

In [ ]:
df.groupby(['year','type'])['Total Volume','Total Bags','Small Bags','Large Bags','XLarge Bags'].agg([sum])

In [ ]:
Total Volume	Total Bags	Small Bags	Large Bags	XLarge Bags
sum	sum	sum	sum	sum
year	type					
2015	conventional	4.296599e+09	7.481009e+08	6.194886e+08	1.231692e+08	5443128.28
organic	8.886943e+07	2.409134e+07	1.519414e+07	8.897192e+06	0.00
2016	conventional	4.690250e+09	1.398101e+09	1.064426e+09	3.136371e+08	20038284.84
organic	1.306401e+08	6.505765e+07	4.206845e+07	2.298920e+07	0.00
2017	conventional	4.766166e+09	1.541193e+09	1.145835e+09	3.713655e+08	23991658.41
organic	1.681399e+08	1.050962e+08	7.711715e+07	2.797352e+07	5513.93
2018	conventional	1.334206e+09	4.593696e+08	3.344334e+08	1.177311e+08	7205184.07
organic	4.853227e+07	3.216630e+07	2.630799e+07	5.852903e+06	5407.80
Comment :
Sales of Avacado in 2017 is more than 2016 so price hike is may be as result of increase in demand or some supply chain issue.
sales in turn Demand is also increase over time.
30 % increase in sale of organic avocado in 2017 compare to 2016, even when it is almost 50% costlier than conventional type.
There is also growth in demand of conventional type avocado year-wise but rate of growth of demand comparelative less than organic type. May be people becoming more health oriented.
XLarge Bags sales increase rapidly in 2017 compare to 2015.
If we look at trend from 2015 customer start buying buying Large or Xlarge bags compare to small bags in case of Conventional type. May be quantity & discount offer by shop may be playing role here.
People choosing small bags of organic avocado over large.Price factor playing here.

In [ ]:
df.sort_values(by=['Date'], inplace=True, ascending=True)

In [ ]:
# Average price of Conventional Avocados over time

mask = df['type']== 'conventional'
plt.rc('figure', titlesize=20)
fig = plt.figure(figsize = (27, 12))
fig.suptitle('Average Price of Conventional Avocados Over Time', fontsize=25)
ax = fig.add_subplot(111)

dates = df[mask]['Date'].tolist()
avgPrices = df[mask]['AveragePrice'].tolist()

plt.scatter( dates,avgPrices, c=avgPrices, cmap='plasma')
ax.set_xlabel('Date',fontsize = 15,)
ax.set_ylabel('Average Price (USD)', fontsize = 15)
ax.set_xlim()
ax.tick_params(labelrotation=90)

plt.show()

In [ ]:
# Average price of Organic Avocados over time
mask = df['type']== 'organic'
plt.rc('figure', titlesize=20)
fig = plt.figure(figsize = (27, 12))
fig.suptitle('Average Price of Organic Avocados Over Time', fontsize=25)
ax = fig.add_subplot(111)
fig.subplots_adjust(top=0.93)

dates = df[mask]['Date'].tolist()
avgPrices = df[mask]['AveragePrice'].tolist()

plt.scatter(dates,avgPrices, c=avgPrices, cmap='plasma')
ax.set_xlabel('Date',fontsize = 15)
ax.set_ylabel('Average Price (USD)', fontsize = 15)
plt.xlim()
plt.show()

In [ ]:
df.groupby(['region'])['Total Volume','AveragePrice'].agg([sum])

In [ ]:
Total Volume	AveragePrice
sum	sum
region		
Albany	1.606780e+07	527.63
Atlanta	8.860512e+07	452.23
BaltimoreWashington	1.347139e+08	518.57
Boise	1.441319e+07	455.67
Boston	9.727398e+07	517.44
BuffaloRochester	2.296247e+07	512.69
California	1.028982e+09	471.62
Charlotte	3.555554e+07	542.84
Chicago	1.337023e+08	526.19
CincinnatiDayton	4.452201e+07	408.71
Columbus	2.999336e+07	423.44
DallasFtWorth	2.084193e+08	366.93
Denver	1.389025e+08	411.88
Detroit	6.342242e+07	431.32
GrandRapids	3.021174e+07	508.69
GreatLakes	5.896425e+08	452.43
HarrisburgScranton	4.180886e+07	511.49
HartfordSpringfield	5.067054e+07	614.70
Houston	2.031679e+08	354.20
Indianapolis	3.026339e+07	444.13
Jacksonville	2.879000e+07	510.70
LasVegas	5.437691e+07	466.75
LosAngeles	5.078965e+08	411.01
Louisville	1.609700e+07	434.90
MiamiFtLauderdale	9.767322e+07	482.83
Midsouth	5.083494e+08	474.81
Nashville	3.561209e+07	409.69
NewOrleansMobile	4.569514e+07	441.02
NewYork	2.407341e+08	583.92
Northeast	7.132809e+08	541.45
NorthernNewEngland	7.153289e+07	499.36
Orlando	5.866070e+07	509.10
Philadelphia	7.183880e+07	551.66
PhoenixTucson	1.956433e+08	413.86
Pittsburgh	1.880635e+07	461.14
Plains	3.111885e+08	485.54
Portland	1.105522e+08	445.39
RaleighGreensboro	4.820273e+07	525.63
RichmondNorfolk	4.223085e+07	436.47
Roanoke	2.504201e+07	421.80
Sacramento	7.516375e+07	548.09
SanDiego	8.979192e+07	472.58
SanFrancisco	1.358302e+08	609.82
Seattle	1.092142e+08	487.59
SouthCarolina	6.075377e+07	474.31
SouthCentral	1.011280e+09	372.22
Southeast	6.152384e+08	472.53
Spokane	1.556528e+07	488.61
StLouis	3.207283e+07	483.55
Syracuse	1.094267e+07	513.87
Tampa	6.600454e+07	476.19
TotalUS	5.864740e+09	445.83
West	1.086779e+09	430.01
WestTexNewMexico	1.445218e+08	422.67

### EDA

In [ ]:
df.head()

In [ ]:
Date	AveragePrice	Total Volume	4046	4225	4770	Total Bags	Small Bags	Large Bags	XLarge Bags	type	year	region
11569	2015-01-04	1.75	27365.89	9307.34	3844.81	615.28	13598.46	13061.10	537.36	0.0	organic	2015	Southeast
9593	2015-01-04	1.49	17723.17	1189.35	15628.27	0.00	905.55	905.55	0.00	0.0	organic	2015	Chicago
10009	2015-01-04	1.68	2896.72	161.68	206.96	0.00	2528.08	2528.08	0.00	0.0	organic	2015	HarrisburgScranton
1819	2015-01-04	1.52	54956.80	3013.04	35456.88	1561.70	14925.18	11264.80	3660.38	0.0	conventional	2015	Pittsburgh
9333	2015-01-04	1.64	1505.12	1.27	1129.50	0.00	374.35	186.67	187.68	0.0	organic	2015	Boise

In [ ]:
df2=df.copy()

In [ ]:
# Creating Datframe for numeric features
df2.drop(['Date','type','region','year'], axis=1, inplace=True)

In [ ]:
plt.figure(figsize=(20,25), facecolor='white')
plotnumber =1
for column in df2:
    if plotnumber <=9:
        ax = plt.subplot(3,3,plotnumber)
        sns.distplot(df2[column], color='r',hist=False,kde_kws={"shade": True})
        plt.xlabel(column,fontsize=20)
    plotnumber+=1
plt.show()

Comment :
We can see skewed data with presence of outliers with sharp peak.
Most of the plots are right skewed, having value of mean very small compare to std. deviation & median. This is resulting in sharp high peak.Very few data points are present as we move away from zero to other end of x-axis.

In [ ]:
sns.set_palette('gist_rainbow_r')
plt.figure(figsize=(20,20), facecolor='white')
plotnumber =1
for column in df2:
    if plotnumber <=9:
        ax = plt.subplot(3,3,plotnumber)
        sns.violinplot(df[column])
        plt.xlabel(column,fontsize=20)
    plotnumber+=1
plt.show()

Comment :
For Majority Average price is in range of 1 to 1.5.
Rest of Violin plot show same story as distribution plot.
Avacado availability and price also vary over the year according to seasonal changes.Lets check the variation Avg price and sales volume over each month.

For that purpose let create another copy dataframe and then split date column into Year,Month and Day.

In [ ]:
df=pd.read_csv('avocado.csv')

In [ ]:
# Copy of original dataframe
df3=df.copy()

In [ ]:
df3['Year'], df3['Month'], df3['Day'] = df3['Date'].str.split('-').str
df3.drop(columns=['Date','year'], inplace=True)
df3

AveragePrice	Total Volume	4046	4225	4770	Total Bags	Small Bags	Large Bags	XLarge Bags	type	region	Year	Month	Day
0	1.33	64236.62	1036.74	54454.85	48.16	8696.87	8603.62	93.25	0.0	conventional	Albany	2015	12	27
1	1.35	54876.98	674.28	44638.81	58.33	9505.56	9408.07	97.49	0.0	conventional	Albany	2015	12	20
2	0.93	118220.22	794.70	109149.67	130.50	8145.35	8042.21	103.14	0.0	conventional	Albany	2015	12	13
3	1.08	78992.15	1132.00	71976.41	72.58	5811.16	5677.40	133.76	0.0	conventional	Albany	2015	12	06
4	1.28	51039.60	941.48	43838.39	75.78	6183.95	5986.26	197.69	0.0	conventional	Albany	2015	11	29
...	...	...	...	...	...	...	...	...	...	...	...	...	...	...
18244	1.63	17074.83	2046.96	1529.20	0.00	13498.67	13066.82	431.85	0.0	organic	WestTexNewMexico	2018	02	04
18245	1.71	13888.04	1191.70	3431.50	0.00	9264.84	8940.04	324.80	0.0	organic	WestTexNewMexico	2018	01	28
18246	1.87	13766.76	1191.92	2452.79	727.94	9394.11	9351.80	42.31	0.0	organic	WestTexNewMexico	2018	01	21
18247	1.93	16205.22	1527.63	2981.04	727.01	10969.54	10919.54	50.00	0.0	organic	WestTexNewMexico	2018	01	14
18248	1.62	17489.58	2894.77	2356.13	224.53	12014.15	11988.14	26.01	0.0	organic	WestTexNewMexico	2018	01	07
18249 rows × 14 columns

In [ ]:
# Converting Datetime datatypes to int
df3['Year']=df3['Year'].astype(int)
df3['Month']=df3['Month'].astype(int)
df3['Date']=df3['Day'].astype(int)

In [ ]:
df3.drop(columns=['Day'],axis=1, inplace=True)

In [ ]:
df3.drop(columns=['Date'],axis=1, inplace=True)

In [ ]:
df3.head()

AveragePrice	Total Volume	4046	4225	4770	Total Bags	Small Bags	Large Bags	XLarge Bags	type	region	Year	Month
0	1.33	64236.62	1036.74	54454.85	48.16	8696.87	8603.62	93.25	0.0	conventional	Albany	2015	12
1	1.35	54876.98	674.28	44638.81	58.33	9505.56	9408.07	97.49	0.0	conventional	Albany	2015	12
2	0.93	118220.22	794.70	109149.67	130.50	8145.35	8042.21	103.14	0.0	conventional	Albany	2015	12
3	1.08	78992.15	1132.00	71976.41	72.58	5811.16	5677.40	133.76	0.0	conventional	Albany	2015	12
4	1.28	51039.60	941.48	43838.39	75.78	6183.95	5986.26	197.69	0.0	conventional	Albany	2015	11

### Univariate analysis of feature using date, months, year

In [ ]:
# Checking unique values and Yearwise total No of sale entry
df3['Year'].value_counts()

2017    5722
2016    5616
2015    5615
2018    1296
Name: Year, dtype: int64

In [ ]:
sns.countplot('Year',data=df3)

In [ ]:
<AxesSubplot:xlabel='Year', ylabel='count'>

Comment:
This dataset contain data from 2015 to 2018
Maximum sales entry belongs to year 2017 while very few sales entry comes from 2018.
Approach :
We want check Avg Price over each Month
First we will check Sale entries per Months
Next We will Avg Price over each month using Countplot
Finally we will try to bring insight over relation of sales entries to Avg price over same month.

### Checking Month-Wise sales entries

In [ ]:
plt.figure(figsize=(15,7))
sns.countplot(x='Month', data=df3, palette="spring")

In [ ]:
df3['Month'].value_counts().max()

In [ ]:
1944

In [ ]:
df3['Month'].value_counts().min()

In [ ]:
1294

Comment:
Maximum sales lead comes in month of Jan, Feb, March
Maximum sales demand of Avacodo is in month of Jan (1944 lead) & Minimum sales demand of Avacoda is in month of June

### Checking Month-Wise Variation in Average Price

In [ ]:
plt.figure(figsize=(15,7))
sns.barplot(x="Month", y="AveragePrice", hue='type', data=df3)
plt.show()

In [ ]:
df3.groupby(['Month','type'])['AveragePrice'].agg([np.mean]).T

In [ ]:
Month	1	2	3	4	5	...	8	9	10	11	12
type	conventional	organic	conventional	organic	conventional	organic	conventional	organic	conventional	organic	...	conventional	organic	conventional	organic	conventional	organic	conventional	organic	conventional	organic
mean	1.069095	1.552942	1.017315	1.531458	1.126209	1.538301	1.14235	1.60641	1.089577	1.603624	...	1.235399	1.78963	1.294738	1.850571	1.349339	1.810026	1.206054	1.705071	1.077393	1.585193

In [ ]:
plt.figure(figsize=(10,10))
sns.catplot(x = "Month", y = "AveragePrice", kind ='violin', data=df3, linewidth=2)
plt.show()

Comment :
In month of September and October Price of Conventional type of Avacado is comparatively higher than other months.
There is not much upheaval in Organic type Avacoda over year peroid.
We can see that variation in mean price values in above groupby table, which confirm what we got from barplot.
But what causes such High demand in 1st quater of year ?

Simple Google gives answer 'FLAVOR'. Yes, Flavor!!!

Avocados are available year round like most agricultural commodities these days, but January through March is the best time of year for flavor . It is during this time that the fruit has developed higher oil content, resulting in that buttery flavor and texture that we all love.

Now Let Compare Countplot of Sales Entries and Barplot of Avg Price Monthwise.
In first sight we can see in period of Augest to October price high & in that same time period sales order are minimum.
Opposite of it true in duration of Jan to March.
This variation applicable to conventional type while we cannot find such any relation in case of Organic avacado.
In conclusion when Average sale price of 'Conventional Avacado' is high in same time less sales order are observe. Inshort Customer are less interested in buying avacado at high Price.

Till Now we have not explore region feature , Now is time do it.

In [ ]:
plt.figure(figsize=(15,6))
sns.barplot(x=df['region'],y=df['AveragePrice'], data=df3)
plt.title(f'Bar Plot for regions')
plt.xticks(rotation=90)
plt.show()

In [ ]:
region = df.groupby('region')['Total Volume'].sum().sort_values(ascending=False).reset_index()
plt.figure(figsize=(15,13))
sns.barplot(x=region["Total Volume"], y=region["region"], data=df, palette="Set1")
plt.show()

In [ ]:
df.groupby(['region'])['Total Volume','Total Bags','Small Bags','Large Bags','XLarge Bags'].agg([np.mean])

Total Volume	Total Bags	Small Bags	Large Bags	XLarge Bags
mean	mean	mean	mean	mean
region					
Albany	4.753787e+04	7.929747e+03	6.647765e+03	1.153496e+03	128.488639
Atlanta	2.621453e+05	8.449856e+04	5.160573e+04	3.207004e+04	822.786036
BaltimoreWashington	3.985619e+05	1.044561e+05	1.009397e+05	2.903985e+03	612.382722
Boise	4.264257e+04	1.597459e+04	1.384004e+04	2.103634e+03	30.915207
Boston	2.877929e+05	6.359609e+04	5.890659e+04	4.438365e+03	251.124231
BuffaloRochester	6.793630e+04	3.435134e+04	3.037998e+04	3.729050e+03	242.313432
California	3.044324e+06	7.298290e+05	6.778038e+05	3.642585e+04	15599.342929
Charlotte	1.051939e+05	3.460930e+04	3.149069e+04	2.912684e+03	205.927781
Chicago	3.955690e+05	4.989763e+04	4.377116e+04	5.005547e+03	1120.925178
CincinnatiDayton	1.317219e+05	6.182816e+04	1.675117e+04	4.429643e+04	780.564290
Columbus	8.873776e+04	2.963428e+04	2.387808e+04	5.103195e+03	653.004497
DallasFtWorth	6.166251e+05	1.374845e+05	1.207744e+05	1.543113e+04	1278.973609
Denver	4.109542e+05	1.744290e+05	5.551362e+04	1.187601e+05	155.270059
Detroit	1.876403e+05	7.177534e+04	5.899134e+04	7.905232e+03	4878.770533
GrandRapids	8.938383e+04	2.712750e+04	2.228839e+04	2.357398e+03	2481.702278
GreatLakes	1.744505e+06	5.283303e+05	3.647559e+05	1.446617e+05	18912.792781
HarrisburgScranton	1.236948e+05	4.002738e+04	3.778956e+04	1.780372e+03	457.450178
HartfordSpringfield	1.499128e+05	3.352962e+04	3.188923e+04	1.410794e+03	229.590888
Houston	6.010884e+05	1.485653e+05	9.622831e+04	5.137208e+04	964.889793
Indianapolis	8.953666e+04	3.544618e+04	1.955936e+04	1.504810e+04	838.727692
Jacksonville	8.517753e+04	2.875186e+04	1.283961e+04	1.560060e+04	311.644290
LasVegas	1.608784e+05	5.341122e+04	2.656102e+04	2.680271e+04	47.497988
LosAngeles	1.502653e+06	4.978240e+05	4.607281e+05	2.503889e+04	12057.041272
Louisville	4.762427e+04	1.963103e+04	8.326157e+03	1.098558e+04	319.298757
MiamiFtLauderdale	2.889740e+05	6.957527e+04	3.319519e+04	3.547577e+04	904.313580
Midsouth	1.503992e+06	4.630581e+05	3.975279e+05	6.145227e+04	4077.861331
Nashville	1.053612e+05	3.836440e+04	2.971239e+04	8.322173e+03	329.840710
NewOrleansMobile	1.351927e+05	4.221580e+04	3.508744e+04	5.611536e+03	1516.830473
NewYork	7.122311e+05	2.011661e+05	1.727860e+05	2.731656e+04	1063.543432
Northeast	2.110299e+06	5.828059e+05	5.136774e+05	6.525460e+04	3873.868521
NorthernNewEngland	2.116358e+05	4.113913e+04	3.336382e+04	7.447946e+03	327.367692
Orlando	1.735524e+05	4.988651e+04	2.641384e+04	2.275300e+04	719.665769
Philadelphia	2.125408e+05	7.063678e+04	6.336398e+04	6.958744e+03	314.058343
PhoenixTucson	5.788264e+05	1.151131e+05	6.589535e+04	4.875947e+04	458.308817
Pittsburgh	5.564008e+04	2.143628e+04	1.600053e+04	5.265377e+03	170.369882
Plains	9.206761e+05	2.303172e+05	2.034338e+05	2.359066e+04	3292.713876
Portland	3.270775e+05	1.464626e+05	1.228066e+05	2.342522e+04	230.805000
RaleighGreensboro	1.426116e+05	4.638070e+04	4.449847e+04	1.601024e+03	281.207396
RichmondNorfolk	1.249433e+05	3.700659e+04	3.448670e+04	2.153671e+03	366.224408
Roanoke	7.408879e+04	2.837570e+04	2.501876e+04	3.121787e+03	235.157840
Sacramento	2.223779e+05	2.657476e+04	2.573030e+04	2.269676e+02	617.488491
SanDiego	2.656566e+05	6.906115e+04	5.998754e+04	8.644449e+03	429.156716
SanFrancisco	4.018645e+05	4.405599e+04	4.290636e+04	5.234889e+02	626.137840
Seattle	3.231189e+05	1.499746e+05	1.255833e+05	2.418919e+04	202.101893
SouthCarolina	1.797449e+05	5.370761e+04	3.968446e+04	1.335283e+04	670.327308
SouthCentral	2.991952e+06	6.905102e+05	5.467914e+05	1.359078e+05	7810.979704
Southeast	1.820232e+06	5.370640e+05	3.162819e+05	2.133361e+05	7446.044172
Spokane	4.605111e+04	1.850407e+04	1.588258e+04	2.600242e+03	21.250651
StLouis	9.489004e+04	4.359772e+04	3.530135e+04	7.631293e+03	665.082515
Syracuse	3.237476e+04	1.240363e+04	1.078595e+04	1.494128e+03	123.556036
Tampa	1.952797e+05	5.768252e+04	3.138484e+04	2.560189e+04	695.795059
TotalUS	1.735130e+07	4.847931e+06	3.679175e+06	1.105279e+06	63477.013432
West	3.215323e+06	1.086017e+06	6.589032e+05	4.246500e+05	2463.416124
WestTexNewMexico	4.314085e+05	1.053627e+05	5.949778e+04	4.492910e+04	935.853881
Comment on feature Region:
Maximum sales Volume is in South Central While Minimum Sales Volume is in Syracuse.
Maximum Average Price is in SanFrancisco and Minimum Average Sale price is in Houston.

In [ ]:
plt.figure(figsize=(20,25),facecolor='white')
plotnumber=1
y = df[['4046','4225','4770']]
X = df['year']
for col in y:
    if plotnumber<=9:
        plt.subplot(3,3,plotnumber)
        sns.barplot(X,y[col])
        plt.xlabel('Year',fontsize=20)
        plt.ylabel(col,fontsize=20)
    plotnumber+=1
plt.tight_layout()

Production of PLU 4046 has grown over the 4 years and is greater than the production of PLU 4225 and PLU 4770, which is least produced.

In [ ]:
plt.figure(figsize=(20,25),facecolor='white')
plotnumber=1
y = df[['Small Bags','Large Bags','XLarge Bags']]
X = df['year']
for col in y:
    if plotnumber<=9:
        plt.subplot(3,3,plotnumber)
        sns.barplot(X,y[col])
        plt.xlabel('Year',fontsize=20)
        plt.ylabel(col,fontsize=20)
    plotnumber+=1
plt.tight_layout()

Comment:
Sale of all 3 types of bags has grown over the years.
Most of customers prefer buying Small Bags over Large and Xlarge bags.
There is very narrow Customer segment willing to buy XLarge type bags possiblily more quantity need to consume and price associated with it.

In [ ]:
mask = df['type']=='conventional'
g = sns.factorplot('AveragePrice','region',data=df[mask],
                   hue='year',
                   size=13,
                   aspect=0.8,
                   palette='magma',
                   join=False,
              )

In [ ]:
mask = df['type']=='organic'
g = sns.factorplot('AveragePrice','region',data=df[mask],
                   hue='year',
                   size=13,
                   aspect=0.8,
                   palette='magma',
                   join=False,
              )

### Pairplot

In [ ]:
sns.pairplot(df2)

### Encoding categorical data

In [ ]:
# Using Label Encoder on target variable
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df3['region']=le.fit_transform(df3['region'])
df3['type']=le.fit_transform(df3['type'])
df3.head()

	AveragePrice	Total Volume	4046	4225	4770	Total Bags	Small Bags	Large Bags	XLarge Bags	type	region	Year	Month
0	1.33	64236.62	1036.74	54454.85	48.16	8696.87	8603.62	93.25	0.0	0	0	2015	12
1	1.35	54876.98	674.28	44638.81	58.33	9505.56	9408.07	97.49	0.0	0	0	2015	12
2	0.93	118220.22	794.70	109149.67	130.50	8145.35	8042.21	103.14	0.0	0	0	2015	12
3	1.08	78992.15	1132.00	71976.41	72.58	5811.16	5677.40	133.76	0.0	0	0	2015	12
4	1.28	51039.60	941.48	43838.39	75.78	6183.95	5986.26	197.69	0.0	0	0	2015	11

### Outliers Detection and Removal

In [ ]:
plt.figure(figsize=(18,15), facecolor='white')
plotnumber =1
for column in df2:
    if plotnumber <=9:
        ax = plt.subplot(3,3,plotnumber)
        sns.boxplot(df2[column], palette='hsv')
        plt.xlabel(column,fontsize=20)
    plotnumber+=1
plt.tight_layout()
plt.show()

In [ ]:
from scipy.stats import zscore
z = np.abs(zscore(df3))
threshold = 3
df4 = df3[(z<3).all(axis = 1)]

In [ ]:
print("\033[1m"+'Shape of dataset after removing outliers :'+"\033[0m",df4.shape)

Shape of dataset after removing outliers : (17651, 13)

In [ ]:
print("\033[1m"+'Percentage Data Loss :'+"\033[0m",((18249-17651)/18249)*100,'%')

Percentage Data Loss : 3.276891884486821 %

### Corrleation

In [ ]:
df4.corr()

In [ ]:
	AveragePrice	Total Volume	4046	4225	4770	Total Bags	Small Bags	Large Bags	XLarge Bags	type	region	Year	Month
AveragePrice	1.000000	-0.332056	-0.333577	-0.243988	-0.243465	-0.297323	-0.275771	-0.270915	-0.152669	0.613150	-0.003242	0.091704	0.149502
Total Volume	-0.332056	1.000000	0.876307	0.871592	0.647518	0.912184	0.905648	0.640642	0.513741	-0.415476	0.076676	-0.004866	-0.018645
4046	-0.333577	0.876307	1.000000	0.565118	0.492127	0.727981	0.706800	0.561060	0.415432	-0.341376	0.119067	-0.034636	-0.015797
4225	-0.243988	0.871592	0.565118	1.000000	0.620221	0.757786	0.778761	0.451711	0.392030	-0.383138	0.011002	-0.040234	-0.019844
4770	-0.243465	0.647518	0.492127	0.620221	1.000000	0.557980	0.571512	0.323747	0.495976	-0.321809	-0.095972	-0.082054	-0.027245
Total Bags	-0.297323	0.912184	0.727981	0.757786	0.557980	1.000000	0.978213	0.746946	0.581690	-0.378205	0.085892	0.103442	-0.010916
Small Bags	-0.275771	0.905648	0.706800	0.778761	0.571512	0.978213	1.000000	0.593155	0.597700	-0.367593	0.065976	0.086639	-0.013018
Large Bags	-0.270915	0.640642	0.561060	0.451711	0.323747	0.746946	0.593155	1.000000	0.296864	-0.286813	0.127635	0.119543	-0.001457
XLarge Bags	-0.152669	0.513741	0.415432	0.392030	0.495976	0.581690	0.597700	0.296864	1.000000	-0.263734	-0.044338	0.108209	0.002843
type	0.613150	-0.415476	-0.341376	-0.383138	-0.321809	-0.378205	-0.367593	-0.286813	-0.263734	1.000000	0.018409	0.003867	-0.009499
region	-0.003242	0.076676	0.119067	0.011002	-0.095972	0.085892	0.065976	0.127635	-0.044338	0.018409	1.000000	-0.004417	0.000119
Year	0.091704	-0.004866	-0.034636	-0.040234	-0.082054	0.103442	0.086639	0.119543	0.108209	0.003867	-0.004417	1.000000	-0.175287
Month	0.149502	-0.018645	-0.015797	-0.019844	-0.027245	-0.010916	-0.013018	-0.001457	0.002843	-0.009499	0.000119	-0.175287	1.000000

In [ ]:
plt.figure(figsize=(25,18))
sns.heatmap(df4.corr(), vmin=-1, vmax=1, annot=True, square=True, fmt='0.3f', 
            annot_kws={'size':10}, cmap="gist_stern")
plt.xticks(fontsize=12)
plt.yticks(fontsize=12)
plt.show()

In [ ]:
plt.figure(figsize = (18,6))
df4.corr()['AveragePrice'].drop(['AveragePrice']).plot(kind='bar',color = 'c')
plt.xlabel('Features',fontsize=15)
plt.ylabel('AveragePrice',fontsize=15)
plt.title('Correlation of features with Target Variable Average Price',fontsize = 18)
plt.show(

In [ ]:
df4.head()

AveragePrice	Total Volume	4046	4225	4770	Total Bags	Small Bags	Large Bags	XLarge Bags	type	region	Year	Month
0	1.33	64236.62	1036.74	54454.85	48.16	8696.87	8603.62	93.25	0.0	0	0	2015	12
1	1.35	54876.98	674.28	44638.81	58.33	9505.56	9408.07	97.49	0.0	0	0	2015	12
2	0.93	118220.22	794.70	109149.67	130.50	8145.35	8042.21	103.14	0.0	0	0	2015	12
3	1.08	78992.15	1132.00	71976.41	72.58	5811.16	5677.40	133.76	0.0	0	0	2015	12
4	1.28	51039.60	941.48	43838.39	75.78	6183.95	5986.26	197.69	0.0	0	0	2015	11
Almost all features are highly negatively correlated with the target variable and only type,year,month have positive correlation with the target.

Small bags are highly correlated with Total Bags correlation coeffient 0.978. It is natural as most of bags are small.
Total volume is highly correleated 4046.
Comment:
We are going to remove some of columns which are not reqire for further analysis

4046,4225,4770 are shows multicollinearity with Total Volume. These feature are nothing but Total avacado sold under particular grade, which are already counted in Total Volume. As we do not have any price data according each grade of avacado. These feature doesnot have any meaning in ML model.So gone drop them.
Same goes with Total bags. Total bags is sum of all other type of bags. We gone keep drop Total bags and going to keep other differnt size bags counts features.
Next is region feature, we also going drop this as it very poorly correlated with other features.

In [ ]:
df4.drop(columns=['4046','4225','4770','region','Total Bags'],axis=1, inplace=True)

### Checking Multicollinearity between features using variance_inflation_factor

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif= pd.DataFrame()
vif['VIF']= [variance_inflation_factor(df4.values,i) for i in range(df4.shape[1])]
vif['Features']= df4.columns
vif

In [ ]:
VIF	Features
0	24.367038	AveragePrice
1	7.754106	Total Volume
2	7.707277	Small Bags
3	1.970395	Large Bags
4	1.693456	XLarge Bags
5	3.643636	type
6	19.857116	Year
7	4.212261	Month

In [ ]:
Strategy to Address Multicollinearity :
Removing Some of highly correlated features. But this will not work here as most of input features are correlated with each other either moderated or poorly.
Another way to address Multicollinerity is to Scaled Data and then apply PCA.

We will go by first way for further investigation. As For Independent feature VIF is within limit of 10 except year.

We will drop Year as it is less than 20% correlated with target feature and For most of input features correlated with less than 10%.

In [ ]:
df4.drop(columns=['Year'],axis=1, inplace=True)

In [ ]:
Checking correlation with target variable after removal of multicollinearity

In [ ]:
plt.figure(figsize = (14,5))
df4.corr()['AveragePrice'].drop(['AveragePrice']).plot(kind='bar',color = 'c')
plt.xlabel('Features',fontsize=15)
plt.ylabel('AveragePrice',fontsize=15)
plt.title('Correlation of features with Target Variable Average Price',fontsize = 18)
plt.show()

## Skewness of features

In [ ]:
df4.skew()

AveragePrice    0.377432
Total Volume   -0.049950
Small Bags     -0.788988
Large Bags     -0.610874
XLarge Bags     1.216238
type           -0.037741
Month           0.107408
dtype: float64

Transforming skewness through log transform

In [ ]:
for col in df4.columns:
    if df4.skew().loc[col]>0.55:
        df4[col]=np.log1p(df4[col])

## Standard Scaling

In [ ]:
X = df4.drop('AveragePrice', axis=1)
Y = df4['AveragePrice']

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
X_scale = scaler.fit_transform(X)

## Machine Learning Model Building

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import  GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import  Ridge
from sklearn.linear_model import  Lasso
from xgboost import XGBRegressor

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_scale, Y, random_state=42, test_size=.33)
print('Training feature matrix size:',X_train.shape)
print('Training target vector size:',Y_train.shape)
print('Test feature matrix size:',X_test.shape)
print('Test target vector size:',Y_test.shape)

Training feature matrix size: (11826, 7)
Training target vector size: (11826,)
Test feature matrix size: (5825, 7)
Test target vector size: (5825,)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
maxR2_score=0
maxRS=0
for i in range(1,1000):
    X_train, X_test, Y_train, Y_test = train_test_split(X_scale, Y, random_state=i, test_size=.33)
    lin_reg=LinearRegression()
    lin_reg.fit(X_train,Y_train)
    y_pred=lin_reg.predict(X_test)
    R2=r2_score(Y_test,y_pred)
    if R2>maxR2_score:
        maxR2_score=R2
        maxRS=i
print('Best R2 Score is', maxR2_score ,'on Random_state', maxRS)

Best R2 Score is 0.4939091678972064 on Random_state 557

## Linear Regression : Base model

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_scale, Y, random_state=557, test_size=.33)
lin_reg=LinearRegression()
lin_reg.fit(X_train,Y_train)
lin_reg.score(X_train,Y_train)
y_pred=lin_reg.predict(X_test)
print('\033[1m'+'Predicted Wins:'+'\033[0m\n',y_pred)
print('\n')
print('\033[1m'+'Actual Wins:'+'\033[0m\n',Y_test)

Predicted Wins:
 [1.21356397 1.14040336 1.63711137 ... 1.68273139 1.55490485 1.54940571]


Actual Wins:
 8841     1.35
859      1.19
17369    2.09
11190    1.05
14051    2.03
         ... 
5452     1.05
3489     1.35
14534    1.22
11925    1.71
11077    1.83
Name: AveragePrice, Length: 5825, dtype: float64

## Linear Regression Evaluation Matrix

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.metrics import r2_score
print('\033[1m'+' Error :'+'\033[0m')
print('Mean absolute error :', mean_absolute_error(Y_test,y_pred))
print('Mean squared error :', mean_squared_error(Y_test,y_pred))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(Y_test,y_pred)))
print('\n')
from sklearn.metrics import r2_score
print('\033[1m'+' R2 Score :'+'\033[0m')
print(r2_score(Y_test,y_pred,multioutput='variance_weighted'))

Error :
Mean absolute error : 0.21979052387633422
Mean squared error : 0.07717610152240077
Root Mean Squared Error: 0.27780587020867786


 R2 Score :
0.4939091678972064

In [ ]:
# Cross Validation
from sklearn.model_selection import cross_val_score
score = cross_val_score(lin_reg, X_scale, Y, cv =5)
print('\033[1m'+'Cross Validation Score :',lin_reg,":"+'\033[0m\n')
print("Mean CV Score :",score.mean())

In [ ]:
Cross Validation Score : LinearRegression() :

Mean CV Score : 0.11426657283175634

## Applying other Regression Model, Evaluation & Crossvalidation

In [ ]:
rf = RandomForestRegressor(n_estimators = 70 ,max_depth=25)
dtc = DecisionTreeRegressor()
adb=AdaBoostRegressor(learning_rate=0.1)
gradb=GradientBoostingRegressor(max_depth=25,learning_rate=0.1)
rd=Ridge(alpha=0.01)
xgb=XGBRegressor()
model = [rf,rd,dtc,adb,gradb,xgb]

for m in model:
    m.fit(X_train,Y_train)
    m.score(X_train,Y_train)
    y_pred = m.predict(X_test)
    print('\n')                                        
    print('\033[1m'+' Error of ', m, ':' +'\033[0m')
    print('Mean absolute error :', mean_absolute_error(Y_test,y_pred))
    print('Mean squared error :', mean_squared_error(Y_test,y_pred))
    print('Root Mean Squared Error:', np.sqrt(mean_squared_error(Y_test,y_pred)))
    print('\n')

    print('\033[1m'+' R2 Score :'+'\033[0m')
    print(r2_score(Y_test,y_pred)) 
    print('==============================================================================================================')

 Error of  RandomForestRegressor(max_depth=25, n_estimators=70) :
Mean absolute error : 0.12780319771087356
Mean squared error : 0.03214935042144449
Root Mean Squared Error: 0.17930239937447712


 R2 Score :
0.7891770744388981
==============================================================================================================


 Error of  Ridge(alpha=0.01) :
Mean absolute error : 0.21979052523696896
Mean squared error : 0.07717610538207384
Root Mean Squared Error: 0.27780587715538674


 R2 Score :
0.4939091425869728
==============================================================================================================


 Error of  DecisionTreeRegressor() :
Mean absolute error : 0.16529957081545063
Mean squared error : 0.061617768240343346
Root Mean Squared Error: 0.24822926547920038


 R2 Score :
0.5959346613015808
==============================================================================================================


 Error of  AdaBoostRegressor(learning_rate=0.1) :
Mean absolute error : 0.21065115082284322
Mean squared error : 0.07155921757582198
Root Mean Squared Error: 0.2675055468131866


 R2 Score :
0.530742506382486
==============================================================================================================


 Error of  GradientBoostingRegressor(max_depth=25) :
Mean absolute error : 0.1609682114589016
Mean squared error : 0.05858557506002484
Root Mean Squared Error: 0.2420445724655375


 R2 Score :
0.6158186038621983
==============================================================================================================


 Error of  XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None) :
Mean absolute error : 0.14567496242605055
Mean squared error : 0.03816327622289302
Root Mean Squared Error: 0.1953542326720694


 R2 Score :
0.7497400900224707
==============================================================================================================

In [ ]:
# Cross Validation
model = [rf,rd,dtc,adb,gradb,xgb]

for m in model:
    score = cross_val_score(m, X_scale, Y, cv =5)
    print('\n')
    print('\033[1m'+'Cross Validation Score :',m,":"+'\033[0m\n')
    print("Mean CV Score :",score.mean())
    print('==============================================================================================================')


Cross Validation Score : RandomForestRegressor(max_depth=25, n_estimators=70) :

Mean CV Score : 0.00015292452647350797
==============================================================================================================


Cross Validation Score : Ridge(alpha=0.01) :

Mean CV Score : 0.11426659304289377
==============================================================================================================


Cross Validation Score : DecisionTreeRegressor() :

Mean CV Score : -0.524072685469789
==============================================================================================================


Cross Validation Score : AdaBoostRegressor(learning_rate=0.1) :

Mean CV Score : 0.044297867990212715
==============================================================================================================


Cross Validation Score : GradientBoostingRegressor(max_depth=25) :

Mean CV Score : -0.4560520961476427
==============================================================================================================


Cross Validation Score : XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None) :

Mean CV Score : 0.16049678500308112
==============================================================================================================
Among all Model Random Forest Regressor gave us maximum R2 score of 0.7891 and minimum RMSE value of 0.17930. So We will perform Hyper Parameter Tuning on Random Forest Regressor.

## Hyper Parameter Tuning : GridSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
parameter = {'n_estimators':[30,60,80],'max_depth': [10,20,40],
             'min_samples_leaf':[5,10],'criterion':['mse','mae'],
             'max_features':["auto","sqrt","log2"]}

In [ ]:
GCV = GridSearchCV(RandomForestRegressor(),parameter,cv=5,n_jobs = -1,verbose = 3)

In [ ]:
GCV.fit(X_train,Y_train)

In [ ]:
Fitting 5 folds for each of 108 candidates, totalling 540 fits

In [ ]:
 waited for almost hour for 2-3 times, but I did not get any output of Grid search CV. This May be due to computational Limitation. So I am going forward with Final Model by Manual defining parameter.

## Final Model

In [ ]:
from sklearn.ensemble import RandomForestRegressor
Final_mod =  RandomForestRegressor(n_estimators=60 ,criterion = 'mse', max_depth= 20, max_features = 'auto',
             min_samples_leaf = 5, min_samples_split = 10)
Final_mod.fit(X_train,Y_train)
y_pred=Final_mod.predict(X_test)
print('\n')                                        
print('\033[1m'+' Error in Final Model :' +'\033[0m')
print('Mean absolute error :', mean_absolute_error(Y_test,y_pred))
print('Mean squared error :', mean_squared_error(Y_test,y_pred))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(Y_test,y_pred)))
print('\n')
print('\033[1m'+' R2 Score of Final Model :'+'\033[0m')
print(r2_score(Y_test,y_pred)) 
print('\n')

In [ ]:
 Error in Final Model :
Mean absolute error : 0.11893122919391254
Mean squared error : 0.028762262829485578
Root Mean Squared Error: 0.16959440683432217


 R2 Score of Final Model :
0.8246351955204817

In [ ]:
plt.figure(figsize=(12,7))
y_pred=Final_mod.predict(X_test)
sns.swarmplot(Y_test.round(2), y_pred)
print('\033[1m'+' True Values Vs Predicted Value plot :' +'\033[0m')
plt.xlabel('True Values' , fontsize=15)
plt.ylabel('Predictions', fontsize=15)
plt.tight_layout()

 ## Saving model

In [ ]:
import joblib
joblib.dump(Final_mod,'Avacado_Final.pkl')

In [ ]:
['Avacado_Final.pkl']