# Census Income Project

In [ ]:
Problem Statement:
This data was extracted from the 1994 Census bureau database by Ronny Kohavi and Barry Becker (Data Mining and Visualization, Silicon Graphics). A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1) && (HRSWK>0)). The prediction task is to determine whether a person makes over $50K a year.

Description of fnlwgt (final weight)
The weights on the Current Population Survey (CPS) files are controlled to independent estimates of the civilian non-institutional population of the US. These are prepared monthly for us by Population Division here at the Census Bureau. We use 3 sets of controls. These are:

A single cell estimate of the population 16+ for each state.

Controls for Hispanic Origin by age and sex.

Controls by Race, age and sex.

We use all three sets of controls in our weighting program and "rake" through them 6 times so that by the end we come back to all the controls we used. The term estimate refers to population totals derived from CPS by creating "weighted tallies" of any specified socio-economic characteristics of the population. People with similar demographic characteristics should have similar weights. There is one important caveat to remember about this statement. That is that since the CPS sample is actually a collection of 51 state samples, each with its own probability of selection, the statement only applies within state.

### Importing require library for performing EDA, Data Wrangling and data cleaning

In [ ]:
import pandas as pd # for data wrangling purpose
import numpy as np # Basic computation library
import seaborn as sns # For Visualization 
import matplotlib.pyplot as plt # ploting package
%matplotlib inline
import warnings # Filtering warnings
warnings.filterwarnings('ignore')

Importing CSV file

In [ ]:
df=pd.read_csv('census_income.csv')

In [ ]:
print('No of Rows:',df.shape[0])
print('No of Columns:',df.shape[1])
df.head()

No of Rows: 32560
No of Columns: 15
Age	Workclass	Fnlwgt	Education	Education_num	Marital_status	Occupation	Relationship	Race	Sex	Capital_gain	Capital_loss	Hours_per_week	Native_country	Income
0	50	Self-emp-not-inc	83311	Bachelors	13	Married-civ-spouse	Exec-managerial	Husband	White	Male	0	0	13	United-States	<=50K
1	38	Private	215646	HS-grad	9	Divorced	Handlers-cleaners	Not-in-family	White	Male	0	0	40	United-States	<=50K
2	53	Private	234721	11th	7	Married-civ-spouse	Handlers-cleaners	Husband	Black	Male	0	0	40	United-States	<=50K
3	28	Private	338409	Bachelors	13	Married-civ-spouse	Prof-specialty	Wife	Black	Female	0	0	40	Cuba	<=50K
4	37	Private	284582	Masters	14	Married-civ-spouse	Exec-managerial	Wife	White	Female	0	0	40	United-States	<=50K

In [ ]:
df.columns

Index(['Age', 'Workclass', 'Fnlwgt', 'Education', 'Education_num',
       'Marital_status', 'Occupation', 'Relationship', 'Race', 'Sex',
       'Capital_gain', 'Capital_loss', 'Hours_per_week', 'Native_country',
       'Income'],
      dtype='object')
      Comment:
The Most columns names are self-explanatory remaining are explain below :

Fnlwgt: sampling weight
Education_num: number of years of education in total
Capital_gain/Capital_loss: income from investment sources other than salary/wages

# Statistical Analysis

 Before Going for Statistical exploration of data, first check integrity of data & Missing value

### Data Integrity Check
Since dataset is large, Let check for any entry which is repeated or duplicated in dataset.

In [ ]:
df.duplicated().sum() # This will check if any duplicate entry or duplicate row with same value exist

24

### If we just check CSV File we can find that there are some missing value in dataset which shown fill with '?'

In [ ]:
Let check how many question mark (" ?") inside dataset.

In [ ]:
df.isin([' ?']).sum()

In [ ]:
Age                  0
Workclass         1836
Fnlwgt               0
Education            0
Education_num        0
Marital_status       0
Occupation        1843
Relationship         0
Race                 0
Sex                  0
Capital_gain         0
Capital_loss         0
Hours_per_week       0
Native_country     583
Income               0
dtype: int64
Let replace ' ?' with np.NaN

In [ ]:
df=df.replace(' ?',np.NaN)

#### Let check if any whitespace, 'NA' or '-' exist in dataset.

In [ ]:
df.isin([' ','NA','-']).sum().any()

False
Comment:
We have Replace ' ?' with np.NaN
No whitespace, NA, '-' exist in dataset.

### Let drop duplicated entry from dataset before checking null values.

In [ ]:
df.drop_duplicates(keep='last', inplace=True)

In [ ]:
df.shape

In [ ]:
(32536, 15)

### Missing value check

In [ ]:
plt.figure(figsize=(10,6))
sns.heatmap(df.isnull())

Comment:
There are missing values in Occupation,workclass, Native country.

In [ ]:
#Finding what percentage of data is missing from the dataset
missing_values = df.isnull().sum().sort_values(ascending = False)
percentage_missing_values =(missing_values/len(df))*100
print(pd.concat([missing_values, percentage_missing_values], axis =1, keys =['Missing Values', '% Missing data']))

In [ ]:
Missing Values  % Missing data
Occupation                1843        5.664495
Workclass                 1836        5.642980
Native_country             582        1.788788
Income                       0        0.000000
Hours_per_week               0        0.000000
Capital_loss                 0        0.000000
Capital_gain                 0        0.000000
Sex                          0        0.000000
Race                         0        0.000000
Relationship                 0        0.000000
Marital_status               0        0.000000
Education_num                0        0.000000
Education                    0        0.000000
Fnlwgt                       0        0.000000
Age                          0        0.000000

In [ ]:
df.info()
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32536 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype 
---  ------          --------------  ----- 
 0   Age             32536 non-null  int64 
 1   Workclass       30700 non-null  object
 2   Fnlwgt          32536 non-null  int64 
 3   Education       32536 non-null  object
 4   Education_num   32536 non-null  int64 
 5   Marital_status  32536 non-null  object
 6   Occupation      30693 non-null  object
 7   Relationship    32536 non-null  object
 8   Race            32536 non-null  object
 9   Sex             32536 non-null  object
 10  Capital_gain    32536 non-null  int64 
 11  Capital_loss    32536 non-null  int64 
 12  Hours_per_week  32536 non-null  int64 
 13  Native_country  31954 non-null  object
 14  Income          32536 non-null  object
dtypes: int64(6), object(9)
memory usage: 4.0+ MB
Observation:
There are 32536 rows , 14 Independent columns and 1 Target feature.
Age,Fnlwgt, education_num, capital gain, capital loss, hours per week are Numerical variable and having int64 datatypes.
Work class, Education,Marital status, occupation, relationship, race,sex,native country are categorical feature with object datatypes.

In [ ]:
# Separating numerical and categorical variable
Numerical=['Age','Fnlwgt','Education_num','Capital_gain','Capital_loss','Hours_per_week']
Category=['Workclass','Education','Marital_status','Occupation','Relationship','Race','Sex','Native_country','Income']

### Missing value imputation

#### Occupation, Workclass and Native Country are categorical variable so we can imputate them with mode of that feature.

In [ ]:
# Imputating Missing value with mode for categorical features
df['Occupation'].fillna(df['Occupation'].mode()[0],inplace=True)
df['Workclass'].fillna(df['Workclass'].mode()[0],inplace=True)
df['Native_country'].fillna(df['Native_country'].mode()[0],inplace=True)

### Missing Value Check After Imputataion

In [ ]:
#Finding what percentage of data is missing from the dataset
missing_values = df.isnull().sum().sort_values(ascending = False)
percentage_missing_values =(missing_values/len(df))*100
print(pd.concat([missing_values, percentage_missing_values], axis =1, keys =['Missing Values', '% Missing data']))

Missing Values  % Missing data
Income                       0             0.0
Native_country               0             0.0
Hours_per_week               0             0.0
Capital_loss                 0             0.0
Capital_gain                 0             0.0
Sex                          0             0.0
Race                         0             0.0
Relationship                 0             0.0
Occupation                   0             0.0
Marital_status               0             0.0
Education_num                0             0.0
Education                    0             0.0
Fnlwgt                       0             0.0
Workclass                    0             0.0
Age                          0             0.0
Comment :
Finally, No Missing Value is Present.

We are Now Yes To Go Further !!!

### Statistical Matrix

In [ ]:
# Visualizing the statistics of the columns using heatmap.
plt.figure(figsize=(12,8))
sns.heatmap(df.describe(),linewidths = 0.1,fmt='0.1f',annot = True,cmap='PiYG')

In [ ]:
<AxesSubplot:>

In [ ]:
df.describe().T

count	mean	std	min	25%	50%	75%	max
Age	32536.0	38.585536	13.638193	17.0	28.0	37.0	48.00	90.0
Fnlwgt	32536.0	189784.298992	105556.258211	12285.0	117831.5	178356.0	236993.25	1484705.0
Education_num	32536.0	10.081725	2.571622	1.0	9.0	10.0	12.00	16.0
Capital_gain	32536.0	1078.410069	7388.068465	0.0	0.0	0.0	0.00	99999.0
Capital_loss	32536.0	87.370912	403.107737	0.0	0.0	0.0	0.00	4356.0
Hours_per_week	32536.0	40.440343	12.347079	1.0	40.0	40.0	45.00	99.0
Observation:
The minimum and maximum age of people in the dataset is 19 and 90 years respectively, while the average age is 37.
The minimum and maximum years spent on education is 1 and 16 respectively, whereas the mean education level is 10 years.
While the minimum and average capital gain is 0, maximum is 99999. This seems odd, maybe some error within the data collection.
The number of hours spent per week varies between 1 to 99 and the average being 40 hours.

## Start Exploring categorial features with Enlisting Value counts & Sub-categories

In [ ]:
for i in Category:
    print(i)
    print(df[i].value_counts())
    print('='*100)
    
    Workclass
 Private             24509
 Self-emp-not-inc     2540
 Local-gov            2093
 State-gov            1297
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: Workclass, dtype: int64
====================================================================================================
Education
 HS-grad         10494
 Some-college     7282
 Bachelors        5352
 Masters          1722
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           645
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           332
 1st-4th           166
 Preschool          50
Name: Education, dtype: int64
====================================================================================================
Marital_status
 Married-civ-spouse       14970
 Never-married            10666
 Divorced                  4441
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: Marital_status, dtype: int64
====================================================================================================
Occupation
 Prof-specialty       5979
 Craft-repair         4094
 Exec-managerial      4065
 Adm-clerical         3767
 Sales                3650
 Other-service        3291
 Machine-op-inspct    2000
 Transport-moving     1597
 Handlers-cleaners    1369
 Farming-fishing       992
 Tech-support          927
 Protective-serv       649
 Priv-house-serv       147
 Armed-Forces            9
Name: Occupation, dtype: int64
====================================================================================================
Relationship
 Husband           13187
 Not-in-family      8291
 Own-child          5064
 Unmarried          3445
 Wife               1568
 Other-relative      981
Name: Relationship, dtype: int64
====================================================================================================
Race
 White                 27794
 Black                  3122
 Asian-Pac-Islander     1038
 Amer-Indian-Eskimo      311
 Other                   271
Name: Race, dtype: int64
====================================================================================================
Sex
 Male      21774
 Female    10762
Name: Sex, dtype: int64
====================================================================================================
Native_country
 United-States                 29734
 Mexico                          639
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Japan                            62
 Guatemala                        62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: Native_country, dtype: int64
====================================================================================================
Income
 <=50K    24697
 >50K      7839
Name: Income, dtype: int64
====================================================================================================

# EDA

### Start EDA by analysing our target variable first.

In [ ]:
plt.rcParams["figure.autolayout"] = True
sns.set_palette('husl')
f,ax=plt.subplots(1,2,figsize=(18,10))
df['Income'].value_counts().plot.pie(explode=[0,0.1],autopct='%3.1f%%',
                                          textprops ={ 'fontweight': 'bold','fontsize':18}, ax=ax[0],shadow=True)
ax[0].set_title('Population Distribution', fontsize=22,fontweight ='bold')
ax[0].set_ylabel('')
sns.countplot('Income',data=df,ax=ax[1])
ax[1].set_title('Income Distribution',fontsize=22,fontweight ='bold')
ax[1].set_xlabel("Income",fontsize=18,fontweight ='bold')
plt.xticks(fontsize=18,fontweight ='bold')
plt.show()

Observation :
75.9 % population (24697 peoples) have income less than 50K.
Our task is to predict income and we see that target variable income is imbalanced.
Let check each feature against Target variable to gain more insight into data before finding answer of important questions.

### Exploration of Age

In [ ]:
print('Minimum Age:', df['Age'].min(),'years')
print('Maximum Age:', df['Age'].max(),'years')
print('Average Age:', df['Age'].mean(),'years')

Minimum Age: 17 years
Maximum Age: 90 years
Average Age: 38.58553602163757 years

In [ ]:
# Defining function to create new columns to classify people according different age gruop
def age_group(x):
    x = int(x)
    x = abs(x)
    if (18 < x < 31):
        return "19-30"
    if (30 < x < 41) :
        return '31-40'
    if (40 < x <51):
        return '41-50'
    if (50 < x < 61):
        return "51-60"
    if (60 < x < 71):
        return "61-70"
    else :
        return 'Greater Than 70'

In [ ]:
# Calling function age_group
df['age_group']=df['Age'].apply(age_group)

In [ ]:
plt.figure(figsize=(12,6))
order_list = ['19-30','31-40','41-50','51-60','61-70','Greater Than 70']
p = sns.countplot(df['age_group'], hue=df['Income'], palette='hsv', order=order_list)
plt.title('Income of Individuals of Different Age Groups', fontsize=22, fontweight='bold')
p.set_xlabel('Age Groups')
plt.xticks(fontsize=16,fontweight ='bold')
plt.yticks(fontsize=16,fontweight ='bold')
plt.legend(fontsize=16)
plt.show()

In [ ]:
# Distribution of age with income categories
ax= sns.FacetGrid(df,col='Income')
ax.map(sns.distplot,'Age')
plt.show()

In [ ]:
Observation:
Here comes an interesting observation. We already know that only 24% people earnings more than 50K dollors and this plot tell us which age group then belong.

almost 10 % people in age group of 19-30 earns more than 50 K dollars and this count drop even more in old peoples having age greater than 70. Might be some lucky old ones has created good Retirement Plan compare to rest old peoples.
We can find maximum people earning more than 50K dollors belong to age group 41-50 & 51-60. It will be interesting to find out which profession lead this income to this category.

### So let dive into workclass and see what insight we get from there.

In [ ]:
plt.rcParams["figure.autolayout"] = True
sns.set_palette('rainbow')
plt.figure(figsize=(10,10))
df['Workclass'].value_counts().plot.pie(explode=[0,0.1,0.125,0.175,0.225,0.25,0.3,0.7],autopct='%2.1f%%',
                                          textprops ={ 'fontsize':13}, shadow=True)
plt.title('Population distribution as per Workclass', fontsize=20,fontweight ='bold')
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(14,9))
p = sns.countplot(df['Workclass'], hue=df['Income'], palette='hsv')
plt.title('Income distribution as per Workclass', fontsize=22, fontweight='bold')
p.set_xlabel('Workclass',fontsize=18,fontweight ='bold')
plt.xticks(fontsize=16,fontweight ='bold',rotation=30)
plt.yticks(fontsize=16,fontweight ='bold')
plt.legend(fontsize=16)
plt.show()

In [ ]:
pd.crosstab(df['Income'],df["Workclass"], margins=True).style.background_gradient(cmap='summer_r')

In [ ]:
Workclass	Federal-gov	Local-gov	Never-worked	Private	Self-emp-inc	Self-emp-not-inc	State-gov	Without-pay	All
Income									
<=50K	589	1476	7	19357	494	1816	944	14	24697
>50K	371	617	0	5152	622	724	353	0	7839
All	960	2093	7	24509	1116	2540	1297	14	32536

Observation :
75.3% people belongs to Private sector followed by Self Emplyoed not Incorporated with 7.8 %

Interseting observation comes with Self-Employed Incorporated category where the number of people who earn more than 50K dollars exceed those earning less than it !

There is significant difference between private sector employees income where less than 25 % people earn more than 50K dollars an year.

Another quite surprising insight comes from Federal Goverment countplot where We can see very minute difference between the number of people whose income is more or less than 50K dollars an year. Same goes with state goverment with some difference.

Yes there exist category for who never worked and Working without pay but very few people belong to it.These people may be unempolyeed or colleges students. But Number is less And thats Good !!!

Certainly Goverment Emplyoees have high wages compare to private !!!

### Education Vs Income

In [ ]:
plt.rcParams["figure.autolayout"] = True
sns.set_palette('rainbow')
plt.figure(figsize=(10,10))
df['Education'].value_counts().plot.pie(autopct='%2.1f%%', textprops ={ 'fontsize':13}, shadow=True)
plt.title('Population distribution as per Education', fontsize=20,fontweight ='bold')
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(14,9))
p = sns.countplot(df['Education'], hue=df['Income'], palette='hsv')
plt.title('Income distribution as per Education', fontsize=22, fontweight='bold')
p.set_xlabel('Education',fontsize=18,fontweight ='bold')
plt.xticks(fontsize=16,fontweight ='bold',rotation=30)
plt.yticks(fontsize=16,fontweight ='bold')
plt.legend(fontsize=16)
plt.show()

Observation:
Out of all population 32.3% people with HS-Grad education which is most prevalent education level.
5.3 % people with masters and 1.3 % population is Doctorate degree holder. Highly educated & intellactual people belongs to this category.
There are very handful people who earn more than 50 K dollars having education below 12th level.
Maximum number of people who earn more than 50K dollars are Bachelors degree holder.
Here comes interesting observation about income of highly educated people. In case of people belonging to Masters, Doctorate and Prof-School category in the education level, the number people earning more than 50K dollars an year outnumber than the number of people earning less than it.
In case of Assoc-acad or Assoc-voc, there are a few people who earn more than 50K dollars an year!

In [ ]:
pd.crosstab(df['Education'],df["Workclass"], margins=True).style.background_gradient(cmap='summer_r')

Workclass	Federal-gov	Local-gov	Never-worked	Private	Self-emp-inc	Self-emp-not-inc	State-gov	Without-pay	All
Education									
10th	6	31	2	795	19	67	13	0	933
11th	9	36	1	1041	14	60	14	0	1175
12th	5	19	0	373	7	19	10	0	433
1st-4th	0	4	0	146	2	13	1	0	166
5th-6th	1	9	0	295	4	19	4	0	332
7th-8th	2	28	1	495	14	94	10	1	645
9th	3	23	0	438	10	34	6	0	514
Assoc-acdm	55	88	0	776	35	71	41	1	1067
Assoc-voc	38	86	0	1066	38	108	46	0	1382
Bachelors	212	477	0	3722	273	399	269	0	5352
Doctorate	16	27	0	196	35	50	89	0	413
HS-grad	263	503	1	8305	279	866	268	9	10494
Masters	67	342	0	941	79	124	169	0	1722
Preschool	0	4	0	45	0	0	1	0	50
Prof-school	29	29	0	275	81	131	31	0	576
Some-college	254	387	2	5600	226	485	325	3	7282
All	960	2093	7	24509	1116	2540	1297	14	32536

In [ ]:
# Percentage Income distribution in terms of Education
sns.set_palette('rainbow')
table = pd.crosstab(df['Education'], df['Income'])
(table.div(table.sum(axis=1),axis=0)*100).plot(kind='bar',stacked=True,figsize=(15,7))
plt.title('Percent Income distribution as per Education', fontsize=22, fontweight='bold')
plt.xlabel('Education', fontsize=18,fontweight='bold')
plt.ylabel('Population', fontsize=18,fontweight='bold')
plt.xticks(fontweight ='bold')
plt.show(

Observation:
In terms of percentage 75 % of Doctorate people earn more than 50K dollars an years, followed by Prof- school.
So, Highly earning people most of times comes with Masters or Doctorate education background.
From crosstab we can see that private sector is highest recuriter for HS-Grad with 8305 people.
Private sector is also major recurtier of highly eduacated people with masters, doctorate followed by local goverment.

### Impact of Marital Status on Income

In [ ]:
plt.rcParams["figure.autolayout"] = True
sns.set_palette('Set1')
plt.figure(figsize=(10,10))
df['Marital_status'].value_counts().plot.pie(autopct='%2.1f%%', explode=[0.075,0.1,0.125,0.15,0.175,0.2,0.225],
                                             textprops ={'fontsize':13,'fontweight':'bold'},shadow=True)
plt.title('Population distribution as per Marital Status', fontsize=20,fontweight ='bold')
plt.tight_layout()
plt.show()

In [ ]:
# Percentage Income distribution in terms of Education
sns.set_palette('rainbow')
table = pd.crosstab(df['Marital_status'], df['Income'])
(table.div(table.sum(axis=1),axis=0)*100).plot(kind='bar',stacked=True,figsize=(12,8))
plt.title('Percent Income distribution as per Marital Status', fontsize=22, fontweight='bold')
plt.xlabel('Marital Status', fontsize=18,fontweight='bold')
plt.ylabel('Population', fontsize=18,fontweight='bold')
plt.xticks(fontweight ='bold')
plt.show()

In [ ]:
pd.crosstab(df['Marital_status'],df["Income"], margins=True).style.background_gradient(cmap='summer_r')

Marital_status	Divorced	Married-AF-spouse	Married-civ-spouse	Married-spouse-absent	Never-married	Separated	Widowed	All
Income								
<=50K	3978	13	8280	384	10175	959	908	24697
>50K	463	10	6690	34	491	66	85	7839
All	4441	23	14970	418	10666	1025	993	32536
Observation :
Married people are most like to earn more than 50K dollars an year.

Reason Might be Emotional support and stability of life than who are divorced/separated.

One thing to note here is that Married-civ-spouse is the only category which has comparable number of people belonging to both categories.
For others, there are less than 25% of the adults earning more than 50K dollars an year.

### Occupation VS Income

In [ ]:
plt.rcParams["figure.autolayout"] = True
sns.set_palette('rainbow')
plt.figure(figsize=(10,10))
df['Occupation'].value_counts().plot.pie(autopct='%2.1f%%', textprops ={ 'fontsize':13}, shadow=True)
plt.title('Population distribution as per Occupation', fontsize=20,fontweight ='bold')
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(14,9))
p = sns.countplot(df['Occupation'], hue=df['Income'], palette='cool')
plt.title('Income distribution as per Occupation', fontsize=22, fontweight='bold')
p.set_xlabel('Occupation',fontsize=18,fontweight ='bold')
plt.xticks(fontsize=16,rotation=90)
plt.yticks(fontsize=16,fontweight ='bold')
plt.legend(fontsize=16)
plt.show()



Observation :
Exec-managerial role are equally likely to earn more than 50K dollars an year.
Peoples working in Arm- Forces, Farming-fishing, Machine-op-inspect, Other-service, Adm-clerical, Handlers-cleaners are very less likely to earn more than 50K dollars an year.
Around 25% of the people working in Sales earn more than 50K dollars an year.

In [ ]:
# Percentage Income distribution in terms of Education
sns.set_palette('rainbow')
table = pd.crosstab(df['Occupation'], df['Income'])
(table.div(table.sum(axis=1),axis=0)*100).plot(kind='bar',stacked=True,figsize=(12,8))
plt.title('Percent Income distribution as per Occupation', fontsize=22, fontweight='bold')
plt.xlabel('Occupation', fontsize=18,fontweight='bold')
plt.ylabel('Population', fontsize=18,fontweight='bold')
plt.xticks(fontweight ='bold')
plt.show()

In [ ]:
pd.crosstab(df['Occupation'],df["Income"], margins=True).style.background_gradient(cmap='winter_r')

In [ ]:
Income	<=50K	>50K	All
Occupation			
Adm-clerical	3260	507	3767
Armed-Forces	8	1	9
Craft-repair	3165	929	4094
Exec-managerial	2097	1968	4065
Farming-fishing	877	115	992
Handlers-cleaners	1283	86	1369
Machine-op-inspct	1751	249	2000
Other-service	3154	137	3291
Priv-house-serv	146	1	147
Prof-specialty	3930	2049	5979
Protective-serv	438	211	649
Sales	2667	983	3650
Tech-support	644	283	927
Transport-moving	1277	320	1597
All	24697	7839	32536
Observation :
Prof-Speciality position with maximum 2049 peoples followed by Exec-managerial position with 1968 people leads chart for greater than 50K dollars an year.
If we talk in term of percentage probablity Exective Managerial position have 50% chances to lead in Greater than 50K dollars Club.
There's close to 33% probablity for an adult in Prof-specialty to earn more than 50K dollars an year.
- Minimum chances for Greater than 50K Club comes from Private House Service occupation where 1/147 chance of getting more than 50K dollars an year.

Let check where these different occupation fit with respect to Work class through crosstab.

In [ ]:
pd.crosstab(df['Occupation'],df["Workclass"], margins=True).style.background_gradient(cmap='winter_r')

In [ ]:
Workclass	Federal-gov	Local-gov	Never-worked	Private	Self-emp-inc	Self-emp-not-inc	State-gov	Without-pay	All
Occupation									
Adm-clerical	317	283	0	2831	31	50	252	3	3767
Armed-Forces	9	0	0	0	0	0	0	0	9
Craft-repair	64	146	0	3191	106	530	56	1	4094
Exec-managerial	180	214	0	2690	400	392	189	0	4065
Farming-fishing	8	29	0	453	51	430	15	6	992
Handlers-cleaners	23	47	0	1272	2	15	9	1	1369
Machine-op-inspct	14	12	0	1911	13	36	13	1	2000
Other-service	35	193	0	2736	27	175	124	1	3291
Priv-house-serv	0	0	0	147	0	0	0	0	147
Prof-specialty	175	705	7	4145	160	373	414	0	5979
Protective-serv	28	304	0	190	5	6	116	0	649
Sales	14	7	0	2942	291	385	11	0	3650
Tech-support	68	38	0	735	3	26	57	0	927
Transport-moving	25	115	0	1266	27	122	41	1	1597
All	960	2093	7	24509	1116	2540	1297	14	32536
Observation :
Here is another surprising element, there are 7 peoples From Never Worked Category with High earning Profession of Prof-speciality. Same from Without pay workclass we find 6 peoples with Exec-Managerial. Possibly they are working with unpaid internship profile.

### Relationship VS Income

In [ ]:
plt.rcParams["figure.autolayout"] = True
sns.set_palette('rainbow')
plt.figure(figsize=(10,10))
df['Relationship'].value_counts().plot.pie(autopct='%2.1f%%',explode=[0.05,0.05,0.05,0.05,0.075,0.075],
                                           textprops ={'fontweight' :'bold', 'fontsize':13}, shadow=True)
plt.title('Population distribution as per Relationship', fontsize=22,fontweight ='bold')
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(10,8))
p = sns.countplot(df['Relationship'], hue=df['Income'], palette='cool')
plt.title('Income distribution as per Occupation', fontsize=22, fontweight='bold')
p.set_xlabel('Relationship',fontsize=18,fontweight ='bold')
plt.xticks(fontsize=16,rotation=20)
plt.yticks(fontsize=16,fontweight ='bold')
plt.legend(fontsize=16)
plt.show()

Observation:
Wives are equally likely to earn more than 50K dollars an year.
For Husbands, although significant, there is less possibility of them to earn more than 50K dollars an year.
There are just a handful of Unmarried people earning more than 50K dollars an year.

### Race vs Income

In [ ]:
plt.rcParams["figure.autolayout"] = True
sns.set_palette('gist_rainbow_r')
plt.figure(figsize=(10,10))
df['Race'].value_counts().plot.pie(autopct='%2.1f%%',explode=[0.05,0.05,0.05,0.05,0.075],
                                           textprops ={'fontweight' :'bold', 'fontsize':13}, shadow=True)
plt.title('Race distribution as per Relationship', fontsize=22,fontweight ='bold')
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(12,8))
p = sns.countplot(df['Race'], hue=df['Income'], palette='cool')
plt.title('Race distribution as per Occupation', fontsize=22, fontweight='bold')
p.set_xlabel('Race',fontsize=18,fontweight ='bold')
plt.xticks(fontsize=16,rotation=20)
plt.yticks(fontsize=16,fontweight ='bold')
plt.legend(fontsize=16)
plt.show()

In [ ]:
# Percentage Income distribution in terms of Education
sns.set_palette('viridis')
table = pd.crosstab(df['Race'], df['Income'])
(table.div(table.sum(axis=1),axis=0)*100).plot(kind='bar',stacked=True,figsize=(12,8))
plt.title('Percent Income distribution as per Race', fontsize=22, fontweight='bold')
plt.xlabel('Race', fontsize=18,fontweight='bold')
plt.ylabel('Population', fontsize=18,fontweight='bold')
plt.xticks(fontweight ='bold')
plt.show()

Observation:
85.4 % peoples are whites followed by black community with 9.6%.
Maximum peoples in Greater than 50K Club are White.
 This observation is biased as we have very less data of other races. So Nothing Meaningful & reliable insight we can draw from it.

### Sex Vs Income

In [ ]:
plt.rcParams["figure.autolayout"] = True
sns.set_palette('plasma')
f,ax=plt.subplots(1,2,figsize=(18,8))
df['Sex'].value_counts().plot.pie(explode=[0,0.1],autopct='%3.1f%%',
                                          textprops ={ 'fontweight': 'bold','fontsize':18}, ax=ax[0],shadow=True)
ax[0].set_title('Population Distribution', fontsize=22,fontweight ='bold')
ax[0].set_ylabel('')
sns.countplot('Sex',hue=df['Income'] ,data=df,ax=ax[1])
ax[1].set_title('Income Distribution',fontsize=22,fontweight ='bold')
ax[1].set_xlabel("Income",fontsize=18,fontweight ='bold')
plt.xticks(fontsize=18,fontweight ='bold')
plt.show()

Observation:
Significant gap between male and female earnings.
Less than 10% Women in Greater Than 50K Dollar Club.
Around 33% of Men earning more than 50K dollars an year.
Let find in which profession these women involved in .

In [ ]:
pd.crosstab(df['Occupation'],[df.Sex,df.Income], margins=True).style.background_gradient(cmap='winter_r')

Sex	Female	Male	All
Income	<=50K	>50K	<=50K	>50K	
Occupation					
Adm-clerical	2323	212	937	295	3767
Armed-Forces	0	0	8	1	9
Craft-repair	202	20	2963	909	4094
Exec-managerial	879	280	1218	1688	4065
Farming-fishing	63	2	814	113	992
Handlers-cleaners	160	4	1123	82	1369
Machine-op-inspct	529	20	1222	229	2000
Other-service	1748	51	1406	86	3291
Priv-house-serv	138	1	8	0	147
Prof-specialty	1917	437	2013	1612	5979
Protective-serv	66	10	372	201	649
Sales	1175	88	1492	895	3650
Tech-support	302	45	342	238	927
Transport-moving	81	9	1196	311	1597
All	9583	1179	15114	6660	32536

Observation:
Out of all population 33 % are womens. Inside that most of females work in Adm-clerical,Other-service,Prof-specialty.
Same as in case of Men Maximum number in Greater than 50K dollars Club in females comes from Prof-speciality,Exec-Managerial profession.
Maximum men work in Prof-Specialty.

In [ ]:
# Setting Parameters
plt.rcParams['figure.figsize'] = [15,15]
sns.set(style = 'darkgrid')

# This Violin plot show how capital gain, loss, hours per week and education vary with the race of the people
plt.subplot(2,2,1)
sns.violinplot(x = df['Race'], y = df['Capital_gain'], data = df);
plt.subplot(2,2,2)
sns.violinplot(x = df['Race'], y = df['Capital_loss'], data = df);
plt.subplot(2,2,3)
sns.violinplot(x = df['Race'], y = df['Hours_per_week'], data = df);
plt.subplot(2,2,4)
sns.violinplot(x = df['Race'], y = df['Education_num'], data = df);

In [ ]:
# This shows the hours per week according to the education of the person
sns.set(rc={'figure.figsize':(12,8)})
sns_grad = sns.barplot(x = df['Education'], y = df['Hours_per_week'], data = df)
plt.setp(sns_grad.get_xticklabels(), rotation=90)
plt.show()

In [ ]:
# Checking the pairwise relation in the dataset.
sns.pairplot(df,hue="Income",palette="husl")

In [ ]:
df.head()

	Age	Workclass	Fnlwgt	Education	Education_num	Marital_status	Occupation	Relationship	Race	Sex	Capital_gain	Capital_loss	Hours_per_week	Native_country	Income
0	50	Self-emp-not-inc	83311	Bachelors	13	Married-civ-spouse	Exec-managerial	Husband	White	Male	0	0	13	United-States	<=50K
1	38	Private	215646	HS-grad	9	Divorced	Handlers-cleaners	Not-in-family	White	Male	0	0	40	United-States	<=50K
2	53	Private	234721	11th	7	Married-civ-spouse	Handlers-cleaners	Husband	Black	Male	0	0	40	United-States	<=50K
3	28	Private	338409	Bachelors	13	Married-civ-spouse	Prof-specialty	Wife	Black	Female	0	0	40	Cuba	<=50K
4	37	Private	284582	Masters	14	Married-civ-spouse	Exec-managerial	Wife	White	Female	0	0	40	United-States	<=50K

In [ ]:
	Age	Workclass	Fnlwgt	Education	Education_num	Marital_status	Occupation	Relationship	Race	Sex	Capital_gain	Capital_loss	Hours_per_week	Native_country	Income
0	50	Self-emp-not-inc	83311	Bachelors	13	Married-civ-spouse	Exec-managerial	Husband	White	Male	0	0	13	United-States	<=50K
1	38	Private	215646	HS-grad	9	Divorced	Handlers-cleaners	Not-in-family	White	Male	0	0	40	United-States	<=50K
2	53	Private	234721	11th	7	Married-civ-spouse	Handlers-cleaners	Husband	Black	Male	0	0	40	United-States	<=50K
3	28	Private	338409	Bachelors	13	Married-civ-spouse	Prof-specialty	Wife	Black	Female	0	0	40	Cuba	<=50K
4	37	Private	284582	Masters	14	Married-civ-spouse	Exec-managerial	Wife	White	Female	0	0	40	United-States	<=50K

### Encoding categorical data

In [ ]:
# Using Label Encoder on categorical variable
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in Category:
    df[i] = le.fit_transform(df[i])
df.head()

In [ ]:
# Using Label Encoder on categorical variable
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in Category:
    df[i] = le.fit_transform(df[i])
df.head()

	Age	Workclass	Fnlwgt	Education	Education_num	Marital_status	Occupation	Relationship	Race	Sex	Capital_gain	Capital_loss	Hours_per_week	Native_country	Income
0	50	5	83311	9	13	2	3	0	4	1	0	0	13	38	0
1	38	3	215646	11	9	0	5	1	4	1	0	0	40	38	0
2	53	3	234721	1	7	2	5	0	2	1	0	0	40	38	0
3	28	3	338409	9	13	2	9	5	2	0	0	0	40	4	0
4	37	3	284582	12	14	2	3	5	4	0	0	0	40	38	0

## Feature selection and Engineering
1. Outliers Detection and Removal

In [ ]:
plt.figure(figsize=(18,10),facecolor='white')
plotnumber=1

for column in Numerical:
    if plotnumber<=6:
        ax=plt.subplot(2,3,plotnumber)
        sns.boxplot(df[column],color='g')
        plt.xlabel(column,fontsize=20)
    plotnumber+=1
plt.show()

In [ ]:
# Droping unnecessary columns
df.drop(["Fnlwgt", "Education"], axis=1, inplace=True)

## Outliers removal using Zscore method

In [ ]:
from scipy.stats import zscore
z = np.abs(zscore(df))
threshold = 3
df1 = df[(z<3).all(axis = 1)]

print ("Shape of the dataframe before removing outliers: ", df.shape)
print ("Shape of the dataframe after removing outliers: ", df1.shape)
print ("Percentage of data loss post outlier removal: ", (df.shape[0]-df1.shape[0])/df.shape[0]*100)

df=df1.copy() # reassigning the changed dataframe name to our original dataframe name

Shape of the dataframe before removing outliers:  (32536, 13)
Shape of the dataframe after removing outliers:  (28061, 13)
Percentage of data loss post outlier removal:  13.753995574133269

Data Loss

In [ ]:
print("\033[1m"+'Percentage Data Loss :'+"\033[0m",((32536-28061)/32536)*100,'%')

In [ ]:
Percentage Data Loss : 13.753995574133269 %

### We are losing 13.75 % of data. Its big but we can afford it. Considering we have a lot of rows in our datatset for ML model building. We have option to go for quantile method but by looking at boxplot we can say lower capping will result in useful data loss and eventually data loss will be more than zscore method.

### 2. Skewness of features

In [ ]:
plt.figure(figsize=(22,5),facecolor='white')
plotnum=1
for col in df[['Age','Capital_gain','Capital_loss','Hours_per_week']]:
    if plotnum<=4:
        plt.subplot(1,4,plotnum)
        sns.distplot(df[col],color='r')
        plt.xlabel(col,fontsize=20)
    plotnum+=1
plt.show()

In [ ]:
df.skew()

In [ ]:
Age                0.487918
Workclass          0.080746
Education_num     -0.147601
Marital_status    -0.046623
Occupation         0.015247
Relationship       0.752334
Race              -2.549199
Sex               -0.689977
Capital_gain       4.924729
Capital_loss      29.669292
Hours_per_week    -0.359365
Native_country    -5.348195
Income             1.322011
dtype: float64
Observation :
Relationship,Sex,Native_country,Income are skewed but as they are categorical concept of skewness doesnot mean anything to it.
Capital_gain and Capital_loss are numeric variable with lot of zero and high number. So skewness exist in them. There is no point in transforming it because at end data will be skewed.
We will have option of scaling data to handle skewness in Capital gain and Capital loss.

### 3. Corrleation

In [ ]:
df.corr()

In [ ]:
Age	Workclass	Education_num	Marital_status	Occupation	Relationship	Race	Sex	Capital_gain	Capital_loss	Hours_per_week	Native_country	Income
Age	1.000000	0.029674	0.045622	-0.286328	-0.001610	-0.270591	0.021292	0.089469	0.131998	0.023459	0.090783	0.037494	0.241844
Workclass	0.029674	1.000000	-0.002200	-0.015623	0.008779	-0.057823	0.067532	0.069617	0.011083	-0.010613	0.028104	0.001938	-0.007699
Education_num	0.045622	-0.002200	1.000000	-0.058587	0.073142	-0.092447	0.080766	0.003688	0.157858	0.007348	0.156303	0.149688	0.320271
Marital_status	-0.286328	-0.015623	-0.058587	1.000000	0.036477	0.183248	-0.084558	-0.125361	-0.069601	-0.016396	-0.196053	-0.032575	-0.194146
Occupation	-0.001610	0.008779	0.073142	0.036477	1.000000	-0.038735	0.000613	0.051055	0.009446	-0.004779	-0.022194	0.018069	0.030664
Relationship	-0.270591	-0.057823	-0.092447	0.183248	-0.038735	1.000000	-0.146432	-0.577195	-0.089095	0.030105	-0.261919	-0.011274	-0.248263
Race	0.021292	0.067532	0.080766	-0.084558	0.000613	-0.146432	1.000000	0.122731	0.031333	0.000186	0.055486	0.018660	0.094756
Sex	0.089469	0.069617	0.003688	-0.125361	0.051055	-0.577195	0.122731	1.000000	0.069539	-0.027323	0.236168	-0.011189	0.211792
Capital_gain	0.131998	0.011083	0.157858	-0.069601	0.009446	-0.089095	0.031333	0.069539	1.000000	-0.009077	0.098705	0.019185	0.343487
Capital_loss	0.023459	-0.010613	0.007348	-0.016396	-0.004779	0.030105	0.000186	-0.027323	-0.009077	1.000000	-0.003440	0.002925	-0.016465
Hours_per_week	0.090783	0.028104	0.156303	-0.196053	-0.022194	-0.261919	0.055486	0.236168	0.098705	-0.003440	1.000000	0.004380	0.233472
Native_country	0.037494	0.001938	0.149688	-0.032575	0.018069	-0.011274	0.018660	-0.011189	0.019185	0.002925	0.004380	1.000000	0.047240
Income	0.241844	-0.007699	0.320271	-0.194146	0.030664	-0.248263	0.094756	0.211792	0.343487	-0.016465	0.233472	0.047240	1.000000

In [ ]:
plt.figure(figsize=(25,15))
sns.heatmap(df.corr(), vmin=-1, vmax=1, annot=True, square=True, fmt='0.3f', 
            annot_kws={'size':10}, cmap="gist_stern")
plt.xticks(fontsize=12)
plt.yticks(fontsize=12)
plt.show()

In [ ]:
plt.figure(figsize = (18,6))
df.corr()['Income'].drop(['Income']).sort_values(ascending=False).plot(kind='bar',color = 'purple')
plt.xlabel('Features',fontsize=15)
plt.ylabel('Income',fontsize=15)
plt.title('Correlation of features with Target Variable Income',fontsize = 18)
plt.show()

Observation:
Capital loss and workclass,occupation, native country, race are correlated with target variable with less than 10% correlation. After checking Mulitcollinearity we will decide to drop these poorly correlated features or go for PCA.

As high or low Correlation doesnot mean its causation !!!

Between input features maximum correlation of -0.557 exist between sex and relationship.

Capital gain is highly correlated with target variable.

## 4. Checking Multicollinearity between features using variance_inflation_factor

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif= pd.DataFrame()
vif['VIF']= [variance_inflation_factor(df.values,i) for i in range(df.shape[1])]
vif['Features']= df.columns
vif

VIF	Features
0	10.452897	Age
1	8.807425	Workclass
2	21.287850	Education_num
3	4.358505	Marital_status
4	3.357557	Occupation
5	2.937270	Relationship
6	36.291318	Race
7	4.566872	Sex
8	1.209589	Capital_gain
9	1.004295	Capital_loss
10	15.202917	Hours_per_week
11	79.077624	Native_country
12	1.777448	Income
Strategy to Address Multicollinearity :
Removing Some of highly correlated features. But this will not work here as most of input features are correlated with each other either moderated or poorly.
Another way to address Multicollinerity is to Scaled Data and then apply PCA.
We will go by Second way for further investigation. As For some Independent feature VIF is exceed permissible limit of 10.

## 5. Balanceing Imbalanced target feature

In [ ]:
df.Income.value_counts()

0    21767
1     6294
Name: Income, dtype: int64

As Target variable data is Imbalanced in nature we will need to balance target variable.

### Balancing using SMOTE

### As data is Imbalanced in nature we will need to balance target variable.

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
# Oversampleing using SMOTE Techniques
oversample = SMOTE()
X, Y = oversample.fit_resample(X, Y)

In [ ]:
Y.value_counts()

1    1158
0    1158
Name: Attrition, dtype: int64

### Standard Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
X_scale = scaler.fit_transform(X)

In [ ]:
from sklearn.decomposition import PCA
pca = PCA()
#plot the graph to find the principal components
x_pca = pca.fit_transform(X_scale)
plt.figure(figsize=(10,10))
plt.plot(np.cumsum(pca.explained_variance_ratio_), 'ro-')
plt.xlabel('Number of Components')
plt.ylabel('Variance %')
plt.title('Explained variance Ratio')
plt.grid()

Comment -
AS per the graph, we can see that 21 principal components attribute for 90% of variation in the data. We shall pick the first 21 components for our prediction

In [ ]:
pca_new = PCA(n_components=21)
x_new = pca_new.fit_transform(X_scale)

In [ ]:
principle_x=pd.DataFrame(x_new,columns=np.arange(21))

### Machine Learning Model Building

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report,f1_score

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import BaggingClassifier

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(principle_x, Y, random_state=42, test_size=.33)
print('Training feature matrix size:',X_train.shape)
print('Training target vector size:',Y_train.shape)
print('Test feature matrix size:',X_test.shape)
print('Test target vector size:',Y_test.shape)

Training feature matrix size: (1551, 21)
Training target vector size: (1551,)
Test feature matrix size: (765, 21)
Test target vector size: (765,)

### Finding best Random state

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report,f1_score
maxAccu=0
maxRS=0
for i in range(1,250):
    X_train,X_test,Y_train,Y_test = train_test_split(principle_x,Y,test_size = 0.33, random_state=i)
    log_reg=LogisticRegression()
    log_reg.fit(X_train,Y_train)
    y_pred=log_reg.predict(X_test)
    acc=accuracy_score(Y_test,y_pred)
    if acc>maxAccu:
        maxAccu=acc
        maxRS=i
print('Best accuracy is', maxAccu ,'on Random_state', maxRS)

Best accuracy is 0.8705882352941177 on Random_state 242

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(principle_x, Y, random_state=242, test_size=.33)
log_reg=LogisticRegression()
log_reg.fit(X_train,Y_train)
y_pred=log_reg.predict(X_test)
print('\033[1m'+'Logistics Regression Evaluation'+'\033[0m')
print('\n')
print('\033[1m'+'Accuracy Score of Logistics Regression :'+'\033[0m', accuracy_score(Y_test, y_pred))
print('\n')
print('\033[1m'+'Confusion matrix of Logistics Regression :'+'\033[0m \n',confusion_matrix(Y_test, y_pred))
print('\n')
print('\033[1m'+'classification Report of Logistics Regression'+'\033[0m \n',classification_report(Y_test, y_pred))

Logistics Regression Evaluation


Accuracy Score of Logistics Regression : 0.8705882352941177


Confusion matrix of Logistics Regression : 
 [[324  44]
 [ 55 342]]


classification Report of Logistics Regression 
               precision    recall  f1-score   support

           0       0.85      0.88      0.87       368
           1       0.89      0.86      0.87       397

    accuracy                           0.87       765
   macro avg       0.87      0.87      0.87       765
weighted avg       0.87      0.87      0.87       765

## Finding Optimal value of n_neighbors for KNN

In [ ]:
from sklearn import neighbors
from math import sqrt
from sklearn.metrics import mean_squared_error
rmse_val = [] #to store rmse values for different k
for K in range(30):
    K = K+1
    model = neighbors.KNeighborsClassifier(n_neighbors = K)

    model.fit(X_train,Y_train)  #fit the model
    y_pred=model.predict(X_test) #make prediction on test set
    error = sqrt(mean_squared_error(Y_test,y_pred)) #calculate rmse
    rmse_val.append(error) #store rmse values
    print('RMSE value for k= ' , K , 'is:', error)

RMSE value for k=  1 is: 0.3273981406234008
RMSE value for k=  2 is: 0.30032661958503204
RMSE value for k=  3 is: 0.34678730932445717
RMSE value for k=  4 is: 0.31931298801289854
RMSE value for k=  5 is: 0.35791699479543954
RMSE value for k=  6 is: 0.34866692910423897
RMSE value for k=  7 is: 0.3704792868174742
RMSE value for k=  8 is: 0.3615507630310936
RMSE value for k=  9 is: 0.37399101733297235
RMSE value for k=  10 is: 0.3633540199183844
RMSE value for k=  11 is: 0.3860305788964616
RMSE value for k=  12 is: 0.37399101733297235
RMSE value for k=  13 is: 0.39107694443752145
RMSE value for k=  14 is: 0.3894020890135344
RMSE value for k=  15 is: 0.39934587037179503
RMSE value for k=  16 is: 0.39107694443752145
RMSE value for k=  17 is: 0.4009791936316524
RMSE value for k=  18 is: 0.3894020890135344
RMSE value for k=  19 is: 0.3960590171906697
RMSE value for k=  20 is: 0.39770583933420295
RMSE value for k=  21 is: 0.40422604172722165
RMSE value for k=  22 is: 0.40260589075170505
RMSE value for k=  23 is: 0.4090479940519309
RMSE value for k=  24 is: 0.4090479940519309
RMSE value for k=  25 is: 0.41381376253739977
RMSE value for k=  26 is: 0.40744701728620475
RMSE value for k=  27 is: 0.41852526649272975
RMSE value for k=  28 is: 0.4058397249567139
RMSE value for k=  29 is: 0.41381376253739977
RMSE value for k=  30 is: 0.4058397249567139

In [ ]:
#plotting the rmse values against k values -
plt.figure(figsize = (8,6))
plt.plot(range(30), rmse_val, color='blue', linestyle='dashed', marker='o', markerfacecolor='green', markersize=10)

# Applying other classification algorith

In [ ]:

model=[
        SVC(),
        GaussianNB(),
        DecisionTreeClassifier(),
        KNeighborsClassifier(n_neighbors = 22),
        RandomForestClassifier(),
        AdaBoostClassifier(),
        GradientBoostingClassifier(),
        BaggingClassifier()]

for m in model:
    m.fit(X_train,Y_train)
    y_pred=m.predict(X_test)
    print('\033[1m'+'Classification ML Algorithm Evaluation Matrix',m,'is' +'\033[0m')
    print('\n')
    print('\033[1m'+'Accuracy Score :'+'\033[0m\n', accuracy_score(Y_test, y_pred))
    print('\n')
    print('\033[1m'+'Confusion matrix :'+'\033[0m \n',confusion_matrix(Y_test, y_pred))
    print('\n')
    print('\033[1m'+'Classification Report :'+'\033[0m \n',classification_report(Y_test, y_pred))
    print('\n')
    print('============================================================================================================')

In [ ]:
Classification ML Algorithm Evaluation Matrix SVC() is


Accuracy Score :
 0.9019607843137255


Confusion matrix : 
 [[342  26]
 [ 49 348]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.87      0.93      0.90       368
           1       0.93      0.88      0.90       397

    accuracy                           0.90       765
   macro avg       0.90      0.90      0.90       765
weighted avg       0.90      0.90      0.90       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix GaussianNB() is


Accuracy Score :
 0.8470588235294118


Confusion matrix : 
 [[315  53]
 [ 64 333]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.83      0.86      0.84       368
           1       0.86      0.84      0.85       397

    accuracy                           0.85       765
   macro avg       0.85      0.85      0.85       765
weighted avg       0.85      0.85      0.85       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix DecisionTreeClassifier() is


Accuracy Score :
 0.803921568627451


Confusion matrix : 
 [[294  74]
 [ 76 321]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.79      0.80      0.80       368
           1       0.81      0.81      0.81       397

    accuracy                           0.80       765
   macro avg       0.80      0.80      0.80       765
weighted avg       0.80      0.80      0.80       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix KNeighborsClassifier(n_neighbors=22) is


Accuracy Score :
 0.8379084967320262


Confusion matrix : 
 [[270  98]
 [ 26 371]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.91      0.73      0.81       368
           1       0.79      0.93      0.86       397

    accuracy                           0.84       765
   macro avg       0.85      0.83      0.84       765
weighted avg       0.85      0.84      0.84       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix RandomForestClassifier() is


Accuracy Score :
 0.8980392156862745


Confusion matrix : 
 [[342  26]
 [ 52 345]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.87      0.93      0.90       368
           1       0.93      0.87      0.90       397

    accuracy                           0.90       765
   macro avg       0.90      0.90      0.90       765
weighted avg       0.90      0.90      0.90       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix AdaBoostClassifier() is


Accuracy Score :
 0.8457516339869281


Confusion matrix : 
 [[311  57]
 [ 61 336]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.84      0.85      0.84       368
           1       0.85      0.85      0.85       397

    accuracy                           0.85       765
   macro avg       0.85      0.85      0.85       765
weighted avg       0.85      0.85      0.85       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix GradientBoostingClassifier() is


Accuracy Score :
 0.8562091503267973


Confusion matrix : 
 [[320  48]
 [ 62 335]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.84      0.87      0.85       368
           1       0.87      0.84      0.86       397

    accuracy                           0.86       765
   macro avg       0.86      0.86      0.86       765
weighted avg       0.86      0.86      0.86       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix BaggingClassifier() is


Accuracy Score :
 0.873202614379085


Confusion matrix : 
 [[332  36]
 [ 61 336]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.84      0.90      0.87       368
           1       0.90      0.85      0.87       397

    accuracy                           0.87       765
   macro avg       0.87      0.87      0.87       765
weighted avg       0.88      0.87      0.87       765



============================================================================================================
We can see that RandomForestClassifier() gives us good Accuracy and maximum f1 score. so we will continue further investigation with crossvalidation of above model

## CrossValidation :

In [ ]:
from sklearn.model_selection import cross_val_score
model=[LogisticRegression(),
        SVC(),
        GaussianNB(),
        DecisionTreeClassifier(),
        KNeighborsClassifier(n_neighbors = 12),
        RandomForestClassifier(),
        AdaBoostClassifier(),
        GradientBoostingClassifier(),
        BaggingClassifier()]

for m in model:
    score = cross_val_score(m, X, Y, cv =5)
    print('\n')
    print('\033[1m'+'Cross Validation Score', m, ':'+'\033[0m\n')
    print("Score :" ,score)
    print("Mean Score :",score.mean())
    print("Std deviation :",score.std())
    print('\n')
    print('============================================================================================================')

In [ ]:
Cross Validation Score LogisticRegression() :

Score : [0.66810345 0.69114471 0.66954644 0.70194384 0.70410367]
Mean Score : 0.686968421836598
Std deviation : 0.01545790574091748


============================================================================================================


Cross Validation Score SVC() :

Score : [0.58405172 0.62419006 0.60475162 0.60043197 0.62419006]
Mean Score : 0.6075230878081477
Std deviation : 0.015260709074080395


============================================================================================================


Cross Validation Score GaussianNB() :

Score : [0.67241379 0.76457883 0.7300216  0.76025918 0.77537797]
Mean Score : 0.7405302748193938
Std deviation : 0.03723496223050999


============================================================================================================


Cross Validation Score DecisionTreeClassifier() :

Score : [0.67672414 0.86825054 0.90064795 0.86825054 0.87688985]
Mean Score : 0.8381526029641766
Std deviation : 0.08158083516724524


============================================================================================================


Cross Validation Score KNeighborsClassifier(n_neighbors=12) :

Score : [0.72198276 0.71274298 0.77105832 0.74730022 0.73434125]
Mean Score : 0.7374851046399047
Std deviation : 0.020424867823627377


============================================================================================================


Cross Validation Score RandomForestClassifier() :

Score : [0.70689655 0.97192225 0.95896328 0.96760259 0.98056156]
Mean Score : 0.9171892455500112
Std deviation : 0.10537679415558601


============================================================================================================


Cross Validation Score AdaBoostClassifier() :

Score : [0.60991379 0.93736501 0.92440605 0.92224622 0.96544276]
Mean Score : 0.8718747672599985
Std deviation : 0.13188200240296455


============================================================================================================


Cross Validation Score GradientBoostingClassifier() :

Score : [0.56681034 0.96760259 0.96328294 0.94384449 0.97408207]
Mean Score : 0.8831244879719968
Std deviation : 0.15847824171360397


============================================================================================================


Cross Validation Score BaggingClassifier() :

Score : [0.65517241 0.93088553 0.94816415 0.9287257  0.96544276]
Mean Score : 0.8856781112683398
Std deviation : 0.11601429810714531


============================================================================================================
On basis of maximum score in crossvalidation of Random Forest Classifier. we will apply Hyperparameter tuning on Random Forest model

## Hyper Parameter Tuning : GridSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
parameter = {  'bootstrap': [True], 'max_depth': [5, 10,20,40,50, None], 
              'max_features': ['auto', 'log2'], 
              'criterion':['gini','entropy'],
              'n_estimators': [5, 10, 15 ,25,50,100]}

In [ ]:
GCV = GridSearchCV(RandomForestClassifier(),parameter,cv=5,n_jobs = -1,verbose=3)
GCV.fit(X_train,Y_train)

Fitting 5 folds for each of 144 candidates, totalling 720 fits
GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'bootstrap': [True], 'criterion': ['gini', 'entropy'],
                         'max_depth': [5, 10, 20, 40, 50, None],
                         'max_features': ['auto', 'log2'],
                         'n_estimators': [5, 10, 15, 25, 50, 100]},
             verbose=3)

In [ ]:
GCV.best_params_

{'bootstrap': True,
 'criterion': 'entropy',
 'max_depth': 20,
 'max_features': 'log2',
 'n_estimators': 25}

## Final Model

In [ ]:
Final_mod = RandomForestClassifier(bootstrap=True,criterion='entropy',n_estimators= 25, max_depth=20 ,max_features='log2')
Final_mod.fit(X_train,Y_train)
y_pred=Final_mod.predict(X_test)
print('\033[1m'+'Accuracy Score :'+'\033[0m\n', accuracy_score(Y_test, y_pred))

Accuracy Score :
 0.8915032679738563

In [ ]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

y_pred_prob = Final_mod.predict_proba(X_test)[:,1]
fpr, tpr, thresholds = roc_curve(Y_test,y_pred_prob)
plt.plot([0,1],[0,1], 'k--')
plt.plot(fpr, tpr, label='Random Forest Classifier')
plt.xlabel('False postive rate')
plt.ylabel('True postive rate')
plt.show()
auc_score = roc_auc_score(Y_test, Final_mod.predict(X_test))
print('\033[1m'+'Auc Score :'+'\033[0m\n',auc_score)

Auc Score :
 0.8919922516701346

## Saving model

In [ ]:
import joblib
joblib.dump(Final_mod,'IBM_HR_Analytics_Final.pkl')