##  HR Analytics Project- Understanding the Attrition in HR
By: Mr.Lokesh Baviskar

Batch: 1833

Problem Statement:
Every year a lot of companies hire a number of employees. The companies invest time and money in training those employees, not just this but there are training programs within the companies for their existing employees as well. The aim of these programs is to increase the effectiveness of their employees. But where HR Analytics fit in this? and is it just about improving the performance of employees?

HR Analytics:
Human resource analytics (HR analytics) is an area in the field of analytics that refers to applying analytic processes to the human resource department of an organization in the hope of improving employee performance and therefore getting a better return on investment. HR analytics does not just deal with gathering data on employee efficiency. Instead, it aims to provide insight into each process by gathering data and then using it to make relevant decisions about how to improve these processes.

Attrition in HR:
Attrition in human resources refers to the gradual loss of employees overtime. In general, relatively high attrition is problematic for companies. HR professionals often assume a leadership role in designing company compensation programs, work culture, and motivation systems that help the organization retain top employees.

How does Attrition affect companies? and how does HR Analytics help in analyzing attrition? We will discuss the first question here and for the second question, we will write the code and try to understand the process step by step.

Attrition affecting Companies:
A major problem in high employee attrition is its cost to an organization. Job postings, hiring processes, paperwork, and new hire training are some of the common expenses of losing employees and replacing them. Additionally, regular employee turnover prohibits your organization from increasing its collective knowledge base and experience over time. This is especially concerning if your business is customer-facing, as customers often prefer to interact with familiar people. Errors and issues are more likely if you constantly have new workers.

### Importing require library for performing EDA, Data Wrangling and data cleaning

In [ ]:
import pandas as pd # for data wrangling purpose
import numpy as np # Basic computation library
import seaborn as sns # For Visualization 
import matplotlib.pyplot as plt # ploting package
%matplotlib inline
import warnings # Filtering warnings
warnings.filterwarnings('ignore')

In [ ]:
# Importing IBM HR dataset Csv file using pandas

In [ ]:
df=pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')

In [ ]:
print('No of Rows:',df.shape[0])
print('No of Columns:',df.shape[1])
pd.set_option('display.max_columns', None) # This will enable us to see truncated columns
df.head()

No of Rows: 1470
No of Columns: 35
	Age	Attrition	BusinessTravel	DailyRate	Department	DistanceFromHome	Education	EducationField	EmployeeCount	EmployeeNumber	EnvironmentSatisfaction	Gender	HourlyRate	JobInvolvement	JobLevel	JobRole	JobSatisfaction	MaritalStatus	MonthlyIncome	MonthlyRate	NumCompaniesWorked	Over18	OverTime	PercentSalaryHike	PerformanceRating	RelationshipSatisfaction	StandardHours	StockOptionLevel	TotalWorkingYears	TrainingTimesLastYear	WorkLifeBalance	YearsAtCompany	YearsInCurrentRole	YearsSinceLastPromotion	YearsWithCurrManager
0	41	Yes	Travel_Rarely	1102	Sales	1	2	Life Sciences	1	1	2	Female	94	3	2	Sales Executive	4	Single	5993	19479	8	Y	Yes	11	3	1	80	0	8	0	1	6	4	0	5
1	49	No	Travel_Frequently	279	Research & Development	8	1	Life Sciences	1	2	3	Male	61	2	2	Research Scientist	2	Married	5130	24907	1	Y	No	23	4	4	80	1	10	3	3	10	7	1	7
2	37	Yes	Travel_Rarely	1373	Research & Development	2	2	Other	1	4	4	Male	92	2	1	Laboratory Technician	3	Single	2090	2396	6	Y	Yes	15	3	2	80	0	7	3	3	0	0	0	0
3	33	No	Travel_Frequently	1392	Research & Development	3	4	Life Sciences	1	5	4	Female	56	3	1	Research Scientist	3	Married	2909	23159	1	Y	Yes	11	3	3	80	0	8	3	3	8	7	3	0
4	27	No	Travel_Rarely	591	Research & Development	2	1	Medical	1	7	1	Male	40	3	1	Laboratory Technician	2	Married	3468	16632	9	Y	No	12	3	4	80	1	6	3	3	2	2	2	2

In [ ]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

df.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype 
---  ------                    --------------  ----- 
 0   Age                       1470 non-null   int64 
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64 
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64 
 6   Education                 1470 non-null   int64 
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64 
 9   EmployeeNumber            1470 non-null   int64 
 10  EnvironmentSatisfaction   1470 non-null   int64 
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64 
 13  JobInvolvement            1470 non-null   int64 
 14  JobLevel                  1470 non-null   int64 
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64 
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64 
 19  MonthlyRate               1470 non-null   int64 
 20  NumCompaniesWorked        1470 non-null   int64 
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64 
 24  PerformanceRating         1470 non-null   int64 
 25  RelationshipSatisfaction  1470 non-null   int64 
 26  StandardHours             1470 non-null   int64 
 27  StockOptionLevel          1470 non-null   int64 
 28  TotalWorkingYears         1470 non-null   int64 
 29  TrainingTimesLastYear     1470 non-null   int64 
 30  WorkLifeBalance           1470 non-null   int64 
 31  YearsAtCompany            1470 non-null   int64 
 32  YearsInCurrentRole        1470 non-null   int64 
 33  YearsSinceLastPromotion   1470 non-null   int64 
 34  YearsWithCurrManager      1470 non-null   int64 
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [ ]:
# As we have 35 Columns Lets sort Columns by their datatype
df.columns.to_series().groupby(df.dtypes).groups

{int64: ['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager'], object: ['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']}

### These Ordinal features come with the following label encoding:

In [ ]:
Education: 1- 'Below College' , 2 -'College', 3 -'Bachelor', 4- 'Master' ,5 -'Doctor'
EnvironmentSatisfaction: 1- 'Low', 2- 'Medium', 3 -'High', 4- 'Very High'
JobInvolvement: 1 -'Low', 2- 'Medium', 3- 'High', 4- 'Very High'
JobSatisfaction: 1- 'Low', 2- 'Medium', 3- 'High', 4 -'Very High'
PerformanceRating: 1- 'Low', 2- 'Average', 3 -'Good', 4- 'Excellent', 5- 'Outstanding'
RelationshipSatisfaction: 1- 'Low', 2- 'Medium', 3- 'High', 4- 'Very High'
WorkLifeBalance: 1- 'Bad', 2- 'Good', 3- 'Better', 4- 'Best'

### Statistical Analysis

#### Before Going for Statistical exploration of data, first check integrity of data & Missing value

### Data Integrity Check

#### Since dataset is large, Let check for any entry which is repeated or duplicated in dataset.

In [ ]:
df.duplicated().sum()  # This will check the duplicate data for all columns

0

### Missing value check

In [ ]:
missing_values = df.isnull().sum().sort_values(ascending = False)
percentage_missing_values =(missing_values/len(df))*100
print(pd.concat([missing_values, percentage_missing_values], axis =1, keys =['Missing Values', '% Missing data']))

In [ ]:
                     Missing Values  % Missing data
YearsWithCurrManager                   0             0.0
EmployeeCount                          0             0.0
JobLevel                               0             0.0
JobInvolvement                         0             0.0
HourlyRate                             0             0.0
Gender                                 0             0.0
EnvironmentSatisfaction                0             0.0
EmployeeNumber                         0             0.0
EducationField                         0             0.0
JobSatisfaction                        0             0.0
Education                              0             0.0
DistanceFromHome                       0             0.0
Department                             0             0.0
DailyRate                              0             0.0
BusinessTravel                         0             0.0
Attrition                              0             0.0
JobRole                                0             0.0
MaritalStatus                          0             0.0
YearsSinceLastPromotion                0             0.0
StandardHours                          0             0.0
YearsInCurrentRole                     0             0.0
YearsAtCompany                         0             0.0
WorkLifeBalance                        0             0.0
TrainingTimesLastYear                  0             0.0
TotalWorkingYears                      0             0.0
StockOptionLevel                       0             0.0
RelationshipSatisfaction               0             0.0
MonthlyIncome                          0             0.0
PerformanceRating                      0             0.0
PercentSalaryHike                      0             0.0
OverTime                               0             0.0
Over18                                 0             0.0
NumCompaniesWorked                     0             0.0
MonthlyRate                            0             0.0
Age                                    0             0.0
Comment:
Luckily for us, there is no missing data! this will make it easier to work with the dataset.

Dataset doesnot contain Any duplicate entry, Missing Values.

In [ ]:
So, Yes To Go !!!

### Statistical Matrix

In [ ]:
# Visualizing the statistics of the columns using heatmap.
plt.figure(figsize=(28,10))
sns.heatmap(df.describe(),linewidths = 0.1,fmt='0.1f',annot = True,cmap='PiYG')

In [ ]:
<AxesSubplot:>

In [ ]:
df.describe().T.round(3)

In [ ]:
	count	mean	std	min	25%	50%	75%	max
Age	1470.0	36.924	9.135	18.0	30.00	36.0	43.00	60.0
DailyRate	1470.0	802.486	403.509	102.0	465.00	802.0	1157.00	1499.0
DistanceFromHome	1470.0	9.193	8.107	1.0	2.00	7.0	14.00	29.0
Education	1470.0	2.913	1.024	1.0	2.00	3.0	4.00	5.0
EmployeeCount	1470.0	1.000	0.000	1.0	1.00	1.0	1.00	1.0
EmployeeNumber	1470.0	1024.865	602.024	1.0	491.25	1020.5	1555.75	2068.0
EnvironmentSatisfaction	1470.0	2.722	1.093	1.0	2.00	3.0	4.00	4.0
HourlyRate	1470.0	65.891	20.329	30.0	48.00	66.0	83.75	100.0
JobInvolvement	1470.0	2.730	0.712	1.0	2.00	3.0	3.00	4.0
JobLevel	1470.0	2.064	1.107	1.0	1.00	2.0	3.00	5.0
JobSatisfaction	1470.0	2.729	1.103	1.0	2.00	3.0	4.00	4.0
MonthlyIncome	1470.0	6502.931	4707.957	1009.0	2911.00	4919.0	8379.00	19999.0
MonthlyRate	1470.0	14313.103	7117.786	2094.0	8047.00	14235.5	20461.50	26999.0
NumCompaniesWorked	1470.0	2.693	2.498	0.0	1.00	2.0	4.00	9.0
PercentSalaryHike	1470.0	15.210	3.660	11.0	12.00	14.0	18.00	25.0
PerformanceRating	1470.0	3.154	0.361	3.0	3.00	3.0	3.00	4.0
RelationshipSatisfaction	1470.0	2.712	1.081	1.0	2.00	3.0	4.00	4.0
StandardHours	1470.0	80.000	0.000	80.0	80.00	80.0	80.00	80.0
StockOptionLevel	1470.0	0.794	0.852	0.0	0.00	1.0	1.00	3.0
TotalWorkingYears	1470.0	11.280	7.781	0.0	6.00	10.0	15.00	40.0
TrainingTimesLastYear	1470.0	2.799	1.289	0.0	2.00	3.0	3.00	6.0
WorkLifeBalance	1470.0	2.761	0.706	1.0	2.00	3.0	3.00	4.0
YearsAtCompany	1470.0	7.008	6.127	0.0	3.00	5.0	9.00	40.0
YearsInCurrentRole	1470.0	4.229	3.623	0.0	2.00	3.0	7.00	18.0
YearsSinceLastPromotion	1470.0	2.188	3.222	0.0	0.00	1.0	3.00	15.0
YearsWithCurrManager	1470.0	4.123	3.568	0.0	2.00	3.0	7.00	17.0

In [ ]:
Comment :
Minimum Empolyee Age is 18 and Maximum age of employee 60.
Average distance from home is 9.1 KM. It means that most of employee travel atleast 18 KM in day from home to office.
On Average performance Rating of employees is 3.163 with min value 3.0. This Means that performance of most of employee is 'Good'.This implies that Attrition of Employee with 'Outstanding' or 5 rating need to investigate.
50% of Employees has worked atleast 2 companies previously.
For Monthly Income,Monthly Rate by looking at 50% and max column we can say outliers exist in this feature.
By looking at Mean and Median we see that some of the features are skew in nature.
For ordinal features statstical terminology of mean, median, std deviation doesnot make sense.
StandardHours and EmployeeCount contain same value for all stastical parameter. It means they contain one unique value.
Lets do some Statistical Analysis. Start with target Variable.

In [ ]:
df['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [ ]:
labels = 'Yes','No',
fig, ax = plt.subplots()
ax.pie(df['Attrition'].value_counts(),labels = labels,radius =2,autopct = '%2.2f%%',explode=[0.1,0.2], shadow=True,)
plt.show()

In [ ]:
Comment:
83.88% (1237 employees) Employees did not leave the organization while 16.12% (237 employees) did leave the organization making our dataset to be considered imbalanced since more people stay in the organization than they actually leave.

Before arrive at key questions which need to answer about HR Attrition, let try to gain some insight about individual features like distribution of different subcategories, different insight about Human Resource in company like education,job level, working domain.
Start with Enlisting Value counts & Sub-categories of different categorial features available

In [ ]:
Category=['Attrition', 'BusinessTravel', 'Department', 'EducationField',
          'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime' ]
for i in Category:
    print(i)
    print(df[i].value_counts())
    print("="*100)

Attrition
No     1233
Yes     237
Name: Attrition, dtype: int64
====================================================================================================
BusinessTravel
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64
====================================================================================================
Department
Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64
====================================================================================================
EducationField
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: EducationField, dtype: int64
====================================================================================================
Gender
Male      882
Female    588
Name: Gender, dtype: int64
====================================================================================================
JobRole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64
====================================================================================================
MaritalStatus
Married     673
Single      470
Divorced    327
Name: MaritalStatus, dtype: int64
====================================================================================================
Over18
Y    1470
Name: Over18, dtype: int64
====================================================================================================
OverTime
No     1054
Yes     416
Name: OverTime, dtype: int64
====================================================================================================

In [ ]:
sns.set_palette('gist_rainbow_r')
plt.figure(figsize=(20,20), facecolor='white')
plotnumber =1
Category=['Attrition', 'BusinessTravel', 'Department', 'EducationField',
          'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime' ]
for i in Category:
    if plotnumber <=9:
        ax = plt.subplot(3,3,plotnumber)
        sns.countplot(df[i])
        plt.xlabel(i,fontsize=20)
        plt.xticks(rotation=30)
    plotnumber+=1
plt.tight_layout()
plt.show()

In [ ]:
Ordinal=['Education','EnvironmentSatisfaction', 'JobInvolvement','JobSatisfaction',
          'RelationshipSatisfaction', 'PerformanceRating', 'WorkLifeBalance' ]
for i in Ordinal:
    print(i)
    print(df[i].value_counts())
    print("="*100)

Education
3    572
4    398
2    282
1    170
5     48
Name: Education, dtype: int64
====================================================================================================
EnvironmentSatisfaction
3    453
4    446
2    287
1    284
Name: EnvironmentSatisfaction, dtype: int64
====================================================================================================
JobInvolvement
3    868
2    375
4    144
1     83
Name: JobInvolvement, dtype: int64
====================================================================================================
JobSatisfaction
4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64
====================================================================================================
RelationshipSatisfaction
3    459
4    432
2    303
1    276
Name: RelationshipSatisfaction, dtype: int64
====================================================================================================
PerformanceRating
3    1244
4     226
Name: PerformanceRating, dtype: int64
====================================================================================================
WorkLifeBalance
3    893
2    344
4    153
1     80
Name: WorkLifeBalance, dtype: int64
====================================================================================================

In [ ]:
sns.set_palette('hsv')
plt.figure(figsize=(20,20), facecolor='white')
plotnumber =1
Ordinal=['Education','EnvironmentSatisfaction', 'JobInvolvement','JobSatisfaction',
          'RelationshipSatisfaction', 'PerformanceRating', 'WorkLifeBalance' ]
for i in Ordinal:
    if plotnumber <=9:
        ax = plt.subplot(3,3,plotnumber)
        sns.countplot(df[i])
        plt.xlabel(i,fontsize=20)
        plt.xticks(rotation=30)
    plotnumber+=1
plt.tight_layout()
plt.show()

In [ ]:
labels='Bachelor','Master','College','Below College','Doctor'
fig, ax = plt.subplots()
ax.pie(df['Education'].value_counts(),labels = labels,radius =2,autopct = '%3.2f%%',explode=[0.1,0.1,0.15,0.2,0.3], shadow=True,)
plt.show()

Comment:
More than 60 % employees educated at Masters & Bachelor. It interesting to find out in which department need this human resources.
30 % of Employees are highly educated which involves master and doctor degree.
39 % of Employees are graduate.
Almost 19% Employees are educated upto college & 12% are below college.
Lets try to gain insight on to which department this Human Resource belong and education need of each department through visualization.

In [ ]:
df['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [ ]:
labels ='Research & Development','Sales','Human Resources'
fig,ax= plt.subplots()
ax.pie(df['Department'].value_counts(),labels=labels, radius=2,autopct= '%3.2f%%',explode=[0.1,0.15,0.2],shadow=True)
plt.show()

In [ ]:
pd.crosstab([df.Education],[df.Department], margins=True).style.background_gradient(cmap='summer_r')

Department	Human Resources	Research & Development	Sales	All
Education				
1	5	115	50	170
2	13	182	87	282
3	27	379	166	572
4	15	255	128	398
5	3	30	15	48
All	63	961	446	1470

Comment :
65.37% of Employees belong to Research & Development Department. Out of Total 961 Employee no of employee educated at Bachelors,Masters, Doctor are 379,255 and 30 respectively.
Only 63 Employee work in HR department.

In [ ]:
pd.crosstab([df.Education],[df.Department,df.Attrition], margins=True).style.background_gradient(cmap='summer_r')

Department	Human Resources	Research & Development	Sales	All
Attrition	No	Yes	No	Yes	No	Yes	
Education							
1	4	1	96	19	39	11	170
2	10	3	159	23	69	18	282
3	23	4	323	56	127	39	572
4	12	3	223	32	105	23	398
5	2	1	27	3	14	1	48
All	51	12	828	133	354	92	1470
Employee distribution as per education field and level of education

In [ ]:
df['EducationField'].value_counts()

Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: EducationField, dtype: int64

In [ ]:
labels ='Life Sciences','Medical','Marketing','Technical Degree','Other','Human Resources'
fig,ax= plt.subplots()
ax.pie(df['EducationField'].value_counts(),labels=labels, radius=2,autopct= '%3.2f%%',explode=[0.1,0.1,0.125,0.15,0.15,0.175],shadow=True)
plt.show()

In [ ]:
# Let check distribution of education Vs education Field
pd.crosstab([df.Education],[df.EducationField], margins=True).style.background_gradient(cmap='summer_r')

EducationField	Human Resources	Life Sciences	Marketing	Medical	Other	Technical Degree	All
Education							
1	2	67	14	63	5	19	170
2	2	116	24	99	19	22	282
3	16	233	59	183	24	57	572
4	5	173	52	104	33	31	398
5	2	17	10	15	1	3	48
All	27	606	159	464	82	132	1470

In [ ]:
# Let check distribution of department Vs education Field
pd.crosstab([df.Department],[df.EducationField], margins=True).style.background_gradient(cmap='summer_r')

EducationField	Human Resources	Life Sciences	Marketing	Medical	Other	Technical Degree	All
Department							
Human Resources	27	16	0	13	3	4	63
Research & Development	0	440	0	363	64	94	961
Sales	0	150	159	88	15	34	446
All	27	606	159	464	82	132	1470
Comment:
41.22 % Employee comes from Life science background followed by Medical profession with 31.56%.
There are only 27 people with HR background and We know that 63 people work in HR Department from previous result. This implies that atleast half employee working in HR department do not have HR background. This important as there is more probability of Employees Retention is when they are working in domain of interest or as per their education background. Dissatisfaction with want we doing can be seen as major reason of leaving job.
Most of Employees with Techanical degree are Bachelors.
Most of Employees having Masters and Doctors belong to Life Science and Medical domain.
R&D department almost everyone comes from profession or technical background except support staff. Factor like Salary Hike, travelling, overtime and Job level are things need to taken in consideration while analysing Attrition of this category.
There are 159 Employee with Marketing background and all work in Sales Department.
50% Employees in sales department have background of Life sciences & Medical. So it will interesting to see attrition rate in these employees.
We will Analysis Attrition over above insight in next section of Job role.

Lets work with Job Role

In [ ]:
plt.figure(figsize=(15,7))
sns.countplot(df['JobRole'])
plt.xticks(rotation=45)
plt.show()

Before going for Attrition by Job role,
first build matrix of department vs job role which will give us idea about number of employees of different job role across department

In [ ]:
pd.crosstab([df.JobRole],[df.Department], margins=True).style.background_gradient(cmap='gist_rainbow_r')

Department	Human Resources	Research & Development	Sales	All
JobRole				
Healthcare Representative	0	131	0	131
Human Resources	52	0	0	52
Laboratory Technician	0	259	0	259
Manager	11	54	37	102
Manufacturing Director	0	145	0	145
Research Director	0	80	0	80
Research Scientist	0	292	0	292
Sales Executive	0	0	326	326
Sales Representative	0	0	83	83
All	63	961	446	1470
Comment:
There are 3 job role in HR Department, maximum of which are sales Executive with 446 Total Employees.
Human Resources department has 2 Job role i.e. HR & Manager.
There 6 different Job role in R&D department with total 961 employees and until now we know that all of them belong to thier respective domain background.

In [ ]:
plt.figure(figsize=(12,10))
data=pd.crosstab(df['JobRole'], df['Attrition'])
data.div(data.sum(1).astype(float), axis=0).plot(kind='bar', stacked=True, 
                    color=['green', 'red'],figsize=(12,8))
plt.title('Attrition as per Job Role', fontsize=20)
plt.xlabel('Job Role',fontsize=15)
plt.show()

<Figure size 864x720 with 0 Axes>
We all can definitely see Red Signal for different Managers & HR of Respective Job Role in above barplot !!!

Bar plot showing % attrition across each job role, let check absolute number matrix of attrition, again this time using crosstab.

In [ ]:
pd.crosstab([df.JobRole,df.Department],[df.Attrition], margins=True).style.background_gradient(cmap='gist_rainbow_r')

In [ ]:
	Attrition	No	Yes	All
JobRole	Department			
Healthcare Representative	Research & Development	122	9	131
Human Resources	Human Resources	40	12	52
Laboratory Technician	Research & Development	197	62	259
Manager	Human Resources	11	0	11
Research & Development	51	3	54
Sales	35	2	37
Manufacturing Director	Research & Development	135	10	145
Research Director	Research & Development	78	2	80
Research Scientist	Research & Development	245	47	292
Sales Executive	Sales	269	57	326
Sales Representative	Sales	50	33	83
All		1233	237	1470
Comment:
Percentage of attrition is high in Sales Representative,Laboratory Technician,Human Resources. This all job role comes at bottom in corparate hierachy also Salary is comparatively less compare to other job role.
Monthly Income, Job stastifation, travelling are feature need to dive into for further insights in these job role.
At the Top chart 62 Laboratory Technician has resign from job, followed by 57 sales executive and 47 Research Scientist.
16 % arttrition rate for Research Scientist, which involve huge investment from company. Company not only loses employee but its knowledge base, expertise & Intellatual property rights in some cases.

In [ ]:
# Grouping Numeric Features
Numeric=['Age', 'DailyRate', 'DistanceFromHome',  
 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 
 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 
 'RelationshipSatisfaction','StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

### Violinplot of Numeric Variables

In [ ]:
# Grouping Numeric Features
Numeric_int=['Age', 'DailyRate', 'DistanceFromHome', 'HourlyRate','MonthlyIncome', 'MonthlyRate', 
             'NumCompaniesWorked', 'PercentSalaryHike', 'TotalWorkingYears','TrainingTimesLastYear',
             'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [ ]:
sns.set_palette('spring')
plt.figure(figsize=(20,50), facecolor='white')
plotnumber =1

for i in Numeric_int:
    if plotnumber <=25:
        ax = plt.subplot(9,3,plotnumber)
        sns.violinplot(df[i])
        plt.xlabel(i,fontsize=20)
        plt.xticks(rotation=30)
    plotnumber+=1
plt.tight_layout()
plt.show() 

Comment:
For Majority of people have spend 3 to 10 years at company.
Most of people staying company upto 2 years after promotion.
Majority of people are are train 2-3 times in last year.If employees leaves job then it loss investment for company.
Majority of people stay in same role for maximum 4 yrs.
Majority of Employees have salary hike of 10 to 15%.
Age Vs Attrition

In [ ]:
plt.subplots(figsize=(12,6))
sns.countplot(df['Age'])

<AxesSubplot:xlabel='Age', ylabel='count'>

In [ ]:
sns.set_palette('hsv')
plt.subplots(figsize=(18,8))
sns.countplot(x='Age', hue='Attrition', data=df)

<AxesSubplot:xlabel='Age', ylabel='count'>
Comment:
The Attrition rate is minimum between the Age years of 34 and 35.
The Attrition rate is maximum between the Age years of 29 and 31.

In [ ]:
plt.figure(figsize=(15,8))
sns.barplot(df['TotalWorkingYears'],df['MonthlyIncome'])
plt.xlabel('Total Working Years',fontsize=20)
plt.ylabel('Monthly Income',fontsize=20)
plt.title(" Total Working Years vs Monthly Income", fontsize=20)
plt.show()

Comment:
Monthly Income is highest for the employees with 21 or more number of Total Working Years.

In [ ]:
plt.figure(figsize=(8,6))
sns.barplot(x='Attrition',y='MonthlyIncome',data=df)
plt.xticks(fontsize=18)
plt.yticks(fontsize=18)
plt.show()

Comment:
The Attrition rate in the employees is less when the monthly income reaches to 6900.

In [ ]:
plt.figure(figsize=(8,6))
sns.barplot(x='Attrition',y='YearsSinceLastPromotion',data=df)
plt.xticks(fontsize=18)
plt.yticks(fontsize=18)
plt.show()

In [ ]:
Comment:
The rate of Attrition is high when the employee did not got promoted since 1.8 years.

In [ ]:
df=pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')

### Encoding categorical data

In [ ]:
# Using Label Encoder on target variable
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Attrition"] = le.fit_transform(df["Attrition"])
df.head()

	Age	Attrition	BusinessTravel	DailyRate	Department	DistanceFromHome	Education	EducationField	EmployeeCount	EmployeeNumber	...	RelationshipSatisfaction	StandardHours	StockOptionLevel	TotalWorkingYears	TrainingTimesLastYear	WorkLifeBalance	YearsAtCompany	YearsInCurrentRole	YearsSinceLastPromotion	YearsWithCurrManager
0	41	1	Travel_Rarely	1102	Sales	1	2	Life Sciences	1	1	...	1	80	0	8	0	1	6	4	0	5
1	49	0	Travel_Frequently	279	Research & Development	8	1	Life Sciences	1	2	...	4	80	1	10	3	3	10	7	1	7
2	37	1	Travel_Rarely	1373	Research & Development	2	2	Other	1	4	...	2	80	0	7	3	3	0	0	0	0
3	33	0	Travel_Frequently	1392	Research & Development	3	4	Life Sciences	1	5	...	3	80	0	8	3	3	8	7	3	0
4	27	0	Travel_Rarely	591	Research & Development	2	1	Medical	1	7	...	4	80	1	6	3	3	2	2	2	2
5 rows Ã— 35 columns

In [ ]:
# Droping unnecessary columns
df.drop(["EmployeeCount", "EmployeeNumber", "Over18", "StandardHours"], axis=1, inplace=True)

In [ ]:
df.shape

(1470, 31)

In [ ]:
# Ordinal Encoding for ordinal variables
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
def ordinal_encode(df, column):
    df[column] = oe.fit_transform(df[column])
    return df

oe_col = ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime']
df=ordinal_encode(df, oe_col)
df.head()

	Age	Attrition	BusinessTravel	DailyRate	Department	DistanceFromHome	Education	EducationField	EnvironmentSatisfaction	Gender	...	PerformanceRating	RelationshipSatisfaction	StockOptionLevel	TotalWorkingYears	TrainingTimesLastYear	WorkLifeBalance	YearsAtCompany	YearsInCurrentRole	YearsSinceLastPromotion	YearsWithCurrManager
0	41	1	2.0	1102	2.0	1	2	1.0	2	0.0	...	3	1	0	8	0	1	6	4	0	5
1	49	0	1.0	279	1.0	8	1	1.0	3	1.0	...	4	4	1	10	3	3	10	7	1	7
2	37	1	2.0	1373	1.0	2	2	4.0	4	1.0	...	3	2	0	7	3	3	0	0	0	0
3	33	0	1.0	1392	1.0	3	4	1.0	4	0.0	...	3	3	0	8	3	3	8	7	3	0
4	27	0	2.0	591	1.0	2	1	3.0	1	1.0	...	3	4	1	6	3	3	2	2	2	2

## Outliers Detection and Removal

In [ ]:
plt.figure(figsize=(20,30),facecolor='white')
plotnumber=1

for column in Numeric:
    if plotnumber<=28:
        ax=plt.subplot(7,4,plotnumber)
        sns.boxplot(df[column],color='g')
        plt.xlabel(column,fontsize=20)
    plotnumber+=1
plt.show()

In [ ]:
from scipy.stats import zscore
z = np.abs(zscore(df))
threshold = 3
df1 = df[(z<3).all(axis = 1)]

print ("Shape of the dataframe before removing outliers: ", df.shape)
print ("Shape of the dataframe after removing outliers: ", df1.shape)
print ("Percentage of data loss post outlier removal: ", (df.shape[0]-df1.shape[0])/df.shape[0]*100)

df=df1.copy() # reassigning the changed dataframe name to our original dataframe name

Shape of the dataframe before removing outliers:  (1470, 31)
Shape of the dataframe after removing outliers:  (1387, 31)
Percentage of data loss post outlier removal:  5.646258503401361
Data Loss

In [ ]:
print("\033[1m"+'Percentage Data Loss :'+"\033[0m",((1470-1387)/1470)*100,'%')

Percentage Data Loss : 5.646258503401361 %

## Feature selection and Engineering

## 1. Skewness of features

In [ ]:
df.skew()

Age                         0.472280
Attrition                   1.805983
BusinessTravel             -1.426774
DailyRate                  -0.017078
Department                  0.183919
DistanceFromHome            0.954752
Education                  -0.289024
EducationField              0.544868
EnvironmentSatisfaction    -0.325285
Gender                     -0.417296
HourlyRate                 -0.030481
JobInvolvement             -0.501401
JobLevel                    1.126075
JobRole                    -0.386843
JobSatisfaction            -0.345612
MaritalStatus              -0.160952
MonthlyIncome               1.544770
MonthlyRate                 0.030596
NumCompaniesWorked          1.037715
OverTime                    0.954751
PercentSalaryHike           0.800592
PerformanceRating           1.931566
RelationshipSatisfaction   -0.295686
StockOptionLevel            0.962332
TotalWorkingYears           1.034487
TrainingTimesLastYear       0.577614
WorkLifeBalance            -0.557100
YearsAtCompany              1.248623
YearsInCurrentRole          0.726675
YearsSinceLastPromotion     1.756335
YearsWithCurrManager        0.694506
dtype: float64

In [ ]:
# Splitting data in target and dependent feature
X = df.drop(['Attrition'], axis =1)
Y = df['Attrition']

## Transforming skew data using power transform

In [ ]:
from sklearn.preprocessing import power_transform
df = power_transform(x)
df = pd.DataFrame(df, columns=x.columns)
df.skew()

# Age                        -0.004079
BusinessTravel             -0.960583
DailyRate                  -0.199742
Department                  0.015095
DistanceFromHome           -0.008149
Education                  -0.103747
EducationField             -0.008642
EnvironmentSatisfaction    -0.205472
Gender                     -0.417296
HourlyRate                 -0.105678
JobInvolvement             -0.018801
JobLevel                    0.110769
JobRole                    -0.337641
JobSatisfaction            -0.217730
MaritalStatus              -0.158253
MonthlyIncome               0.027700
MonthlyRate                -0.176560
NumCompaniesWorked          0.016175
OverTime                    0.954751
PercentSalaryHike           0.112128
PerformanceRating           0.000000
RelationshipSatisfaction   -0.191406
StockOptionLevel            0.089929
TotalWorkingYears          -0.009666
TrainingTimesLastYear       0.057949
WorkLifeBalance            -0.011133
YearsAtCompany             -0.025230
YearsInCurrentRole         -0.069631
YearsSinceLastPromotion     0.212301
YearsWithCurrManager       -0.070570
dtype: float64
Comment :
For Numeric features skewness is transform within permissible limit.
For ordinal features & categorical features skew parameter irrevalent.

## 2. Corrleation

In [ ]:
df.corr()

	Age	BusinessTravel	DailyRate	Department	DistanceFromHome	Education	EducationField	EnvironmentSatisfaction	Gender	HourlyRate	...	PercentSalaryHike	RelationshipSatisfaction	StockOptionLevel	TotalWorkingYears	TrainingTimesLastYear	WorkLifeBalance	YearsAtCompany	YearsInCurrentRole	YearsSinceLastPromotion	YearsWithCurrManager
Age	1.000000	0.019607	0.019864	-0.036344	-0.025855	0.215520	-0.037564	0.013967	-0.037163	0.026203	...	0.010488	0.037296	0.089449	0.652405	-0.014951	-0.016180	0.207538	0.145404	0.114162	0.142446
BusinessTravel	0.019607	1.000000	-0.001984	-0.003560	-0.007041	-0.006468	0.034658	0.004183	-0.011439	0.026364	...	-0.019175	-0.036165	-0.006092	0.027298	0.006192	-0.017977	-0.024021	-0.035610	-0.033148	-0.032665
DailyRate	0.019864	-0.001984	1.000000	-0.003546	-0.006034	-0.017504	0.040993	0.034324	-0.003271	0.015156	...	0.029183	0.005771	0.049415	0.042750	0.005118	-0.046550	0.005391	0.022143	-0.035448	0.005908
Department	-0.036344	-0.003560	-0.003546	1.000000	0.037834	0.012780	0.082525	-0.013867	-0.030950	-0.000623	...	-0.013541	-0.037572	-0.000630	-0.006833	0.039938	0.017807	0.025457	0.057817	0.017699	0.024241
DistanceFromHome	-0.025855	-0.007041	-0.006034	0.037834	1.000000	0.002714	0.021074	-0.013409	0.010557	0.015607	...	0.034946	0.009379	0.027082	-0.012129	-0.015334	-0.030011	0.006570	0.013091	-0.003873	-0.002310
Education	0.215520	-0.006468	-0.017504	0.012780	0.002714	1.000000	-0.038405	-0.026095	-0.017807	0.011105	...	-0.002095	-0.004863	0.025621	0.150720	-0.023039	0.010164	0.037921	0.051072	0.016076	0.026651
EducationField	-0.037564	0.034658	0.040993	0.082525	0.021074	-0.038405	1.000000	0.042609	0.005059	-0.004372	...	0.000812	-0.018254	-0.012936	-0.001827	0.054321	0.034788	0.004483	0.004372	0.023062	0.028189
EnvironmentSatisfaction	0.013967	0.004183	0.034324	-0.013867	-0.013409	-0.026095	0.042609	1.000000	-0.014940	-0.042512	...	-0.027743	0.016892	0.024345	-0.013356	-0.018350	0.030422	0.012338	0.029218	0.038031	0.006417
Gender	-0.037163	-0.011439	-0.003271	-0.030950	0.010557	-0.017807	0.005059	-0.014940	1.000000	0.005618	...	0.010984	0.041439	0.024390	-0.049776	-0.039213	0.002726	-0.046018	-0.028101	-0.016131	-0.027972
HourlyRate	0.026203	0.026364	0.015156	-0.000623	0.015607	0.011105	-0.004372	-0.042512	0.005618	1.000000	...	-0.015826	0.005207	0.041329	-0.012902	-0.018396	-0.013811	-0.032827	-0.035899	-0.062271	-0.022931
JobInvolvement	0.032323	0.018230	0.041841	-0.025121	0.038096	0.042166	-0.007969	-0.020953	0.014878	0.051979	...	-0.009987	0.038450	0.036543	0.013791	-0.012595	-0.008334	0.023893	0.023724	-0.006630	0.052822
JobLevel	0.442350	0.003401	0.015931	0.200829	0.024038	0.103834	-0.026676	0.010615	-0.058378	-0.039909	...	-0.027772	0.001790	0.051470	0.704215	-0.010041	0.048855	0.409496	0.324336	0.195445	0.315914
JobRole	-0.116758	-0.002615	-0.013156	0.681597	0.010044	0.016548	0.050693	-0.022464	-0.036436	-0.023758	...	0.007921	-0.022498	-0.022612	-0.135182	0.004225	0.012521	-0.040080	0.007195	0.000737	-0.016941
JobSatisfaction	0.010038	-0.033026	0.044460	0.030615	-0.020165	-0.005640	-0.050693	-0.009553	0.038130	-0.067797	...	0.017539	-0.011745	0.006946	-0.000852	-0.018180	-0.024821	0.030234	0.018021	0.026805	0.004270
MaritalStatus	-0.117182	0.010108	-0.076058	0.052696	-0.027285	-0.012237	0.013433	-0.012356	-0.056779	-0.008966	...	0.013717	0.025140	-0.741869	-0.098675	0.015749	0.019958	-0.066987	-0.054949	-0.008255	-0.049952
MonthlyIncome	0.452513	0.030793	0.029944	0.152234	0.000545	0.112084	-0.020033	-0.011976	-0.052340	-0.023613	...	-0.026381	-0.007392	0.052393	0.716232	-0.034842	0.032043	0.416465	0.343024	0.203459	0.320449
MonthlyRate	0.020538	-0.008138	-0.032890	0.023941	0.047736	-0.018874	-0.027785	0.036843	-0.047240	-0.011438	...	-0.011841	-0.003920	-0.046690	0.006912	0.019786	0.001548	-0.034877	-0.008670	-0.019588	-0.033583
NumCompaniesWorked	0.340022	0.034013	0.034923	-0.033131	-0.010318	0.136101	-0.010403	0.011203	-0.033345	0.019917	...	0.001821	0.041253	0.038411	0.322501	-0.056832	0.020077	-0.178518	-0.136304	-0.082304	-0.154424
OverTime	0.028332	0.010934	0.020045	0.015121	0.036524	-0.015248	0.010335	0.058274	-0.051558	-0.003232	...	-0.011486	0.048337	-0.011216	0.010003	-0.076271	-0.035715	-0.030449	-0.031265	-0.010815	-0.030906
PercentSalaryHike	0.010488	-0.019175	0.029183	-0.013541	0.034946	-0.002095	0.000812	-0.027743	0.010984	-0.015826	...	1.000000	-0.032962	0.021635	-0.021813	-0.011397	-0.015558	-0.053612	-0.028763	-0.055194	-0.028292
RelationshipSatisfaction	0.037296	-0.036165	0.005771	-0.037572	0.009379	-0.004863	-0.018254	0.016892	0.041439	0.005207	...	-0.032962	1.000000	-0.056524	-0.007637	-0.001554	0.021454	-0.019388	-0.027391	0.010034	-0.006855
StockOptionLevel	0.089449	-0.006092	0.049415	-0.000630	0.027082	0.025621	-0.012936	0.024345	0.024390	0.041329	...	0.021635	-0.056524	1.000000	0.066322	0.008981	-0.013760	0.071910	0.075323	0.029988	0.069315
TotalWorkingYears	0.652405	0.027298	0.042750	-0.006833	-0.012129	0.150720	-0.001827	-0.013356	-0.049776	-0.012902	...	-0.021813	-0.007637	0.066322	1.000000	-0.019417	0.010194	0.532838	0.423676	0.262110	0.430605
TrainingTimesLastYear	-0.014951	0.006192	0.005118	0.039938	-0.015334	-0.023039	0.054321	-0.018350	-0.039213	-0.018396	...	-0.011397	-0.001554	0.008981	-0.019417	1.000000	0.029674	-0.002893	-0.000389	0.018813	-0.008266
WorkLifeBalance	-0.016180	-0.017977	-0.046550	0.017807	-0.030011	0.010164	0.034788	0.030422	0.002726	-0.013811	...	-0.015558	0.021454	-0.013760	0.010194	0.029674	1.000000	0.012999	0.023079	0.007065	-0.006078
YearsAtCompany	0.207538	-0.024021	0.005391	0.025457	0.006570	0.037921	0.004483	0.012338	-0.046018	-0.032827	...	-0.053612	-0.019388	0.071910	0.532838	-0.002893	0.012999	1.000000	0.835352	0.486029	0.835219
YearsInCurrentRole	0.145404	-0.035610	0.022143	0.057817	0.013091	0.051072	0.004372	0.029218	-0.028101	-0.035899	...	-0.028763	-0.027391	0.075323	0.423676	-0.000389	0.023079	0.835352	1.000000	0.482746	0.729727
YearsSinceLastPromotion	0.114162	-0.033148	-0.035448	0.017699	-0.003873	0.016076	0.023062	0.038031	-0.016131	-0.062271	...	-0.055194	0.010034	0.029988	0.262110	0.018813	0.007065	0.486029	0.482746	1.000000	0.456672
YearsWithCurrManager	0.142446	-0.032665	0.005908	0.024241	-0.002310	0.026651	0.028189	0.006417	-0.027972	-0.022931	...	-0.028292	-0.006855	0.069315	0.430605	-0.008266	-0.006078	0.835219	0.729727	0.456672	1.000000
29 rows Ã— 29 columns

In [ ]:
upper_triangle = np.triu(df.corr())
plt.figure(figsize=(25,15))
sns.heatmap(df.corr(), vmin=-1, vmax=1, annot=True, square=True, fmt='0.3f', 
            annot_kws={'size':10}, cmap="gist_stern", mask=upper_triangle)
plt.xticks(fontsize=12)
plt.yticks(fontsize=12)
plt.show()

In [ ]:
plt.figure(figsize = (18,6))
df1.corr()['Attrition'].drop(['Attrition']).plot(kind='bar',color = 'c')
plt.xlabel('Features',fontsize=15)
plt.ylabel('Attrition',fontsize=15)
plt.title('Correlation of features with Target Variable Attrition',fontsize = 18)
plt.show()

Comment:
Age, JobLevel, MonthlyIncome is highly positively correlated with TotalWorkingYears.
JobLevel is highly positively correlated with the MonthlyIncome.
PercentSalaryHike is highly positively correlated with the column PerformanceRating.

## 3. Checking Multicollinearity between features using variance_inflation_factor

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif= pd.DataFrame()
vif['VIF']= [variance_inflation_factor(df.values,i) for i in range(df.shape[1])]
vif['Features']= df.columns
vif

In [ ]:
VIF	Features
0	1.930457	Age
1	1.014314	BusinessTravel
2	1.025841	DailyRate
3	2.172093	Department
4	1.017385	DistanceFromHome
5	1.065266	Education
6	1.030480	EducationField
7	1.024396	EnvironmentSatisfaction
8	1.024366	Gender
9	1.024189	HourlyRate
10	1.020167	JobInvolvement
11	5.976707	JobLevel
12	2.023213	JobRole
13	1.023909	JobSatisfaction
14	2.298943	MaritalStatus
15	5.842828	MonthlyIncome
16	1.022108	MonthlyRate
17	1.426763	NumCompaniesWorked
18	1.028400	OverTime
19	1.016867	PercentSalaryHike
20	1.022260	RelationshipSatisfaction
21	2.279101	StockOptionLevel
22	4.093506	TotalWorkingYears
23	1.025519	TrainingTimesLastYear
24	1.017093	WorkLifeBalance
25	6.296064	YearsAtCompany
26	3.513852	YearsInCurrentRole
27	1.373189	YearsSinceLastPromotion
28	3.433437	YearsWithCurrManager
Comment :
We can see that multicollinerity is within permissible limit of 10.

## Balancing using SMOTE
As data is Imbalanced in nature we will need to balance target variable.

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
# Oversampleing using SMOTE Techniques
oversample = SMOTE()
X, Y = oversample.fit_resample(X, Y)

In [ ]:
Y.value_counts()

1    1158
0    1158
Name: Attrition, dtype: int64

## Standard Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
X_scale = scaler.fit_transform(X)

In [ ]:
from sklearn.decomposition import PCA
pca = PCA()
#plot the graph to find the principal components
x_pca = pca.fit_transform(X_scale)
plt.figure(figsize=(10,10))
plt.plot(np.cumsum(pca.explained_variance_ratio_), 'ro-')
plt.xlabel('Number of Components')
plt.ylabel('Variance %')
plt.title('Explained variance Ratio')
plt.grid()

Comment -
AS per the graph, we can see that 21 principal components attribute for 90% of variation in the data. We shall pick the first 21 components for our prediction

In [ ]:
pca_new = PCA(n_components=21)
x_new = pca_new.fit_transform(X_scale)

In [ ]:
principle_x=pd.DataFrame(x_new,columns=np.arange(21))

## Machine Learning Model Building

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report,f1_score

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import BaggingClassifier

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(principle_x, Y, random_state=42, test_size=.33)
print('Training feature matrix size:',X_train.shape)
print('Training target vector size:',Y_train.shape)
print('Test feature matrix size:',X_test.shape)
print('Test target vector size:',Y_test.shape)

Training feature matrix size: (1551, 21)
Training target vector size: (1551,)
Test feature matrix size: (765, 21)
Test target vector size: (765,)

## Finding best Random state

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report,f1_score
maxAccu=0
maxRS=0
for i in range(1,250):
    X_train,X_test,Y_train,Y_test = train_test_split(principle_x,Y,test_size = 0.33, random_state=i)
    log_reg=LogisticRegression()
    log_reg.fit(X_train,Y_train)
    y_pred=log_reg.predict(X_test)
    acc=accuracy_score(Y_test,y_pred)
    if acc>maxAccu:
        maxAccu=acc
        maxRS=i
print('Best accuracy is', maxAccu ,'on Random_state', maxRS)

Best accuracy is 0.8705882352941177 on Random_state 242

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(principle_x, Y, random_state=242, test_size=.33)
log_reg=LogisticRegression()
log_reg.fit(X_train,Y_train)
y_pred=log_reg.predict(X_test)
print('\033[1m'+'Logistics Regression Evaluation'+'\033[0m')
print('\n')
print('\033[1m'+'Accuracy Score of Logistics Regression :'+'\033[0m', accuracy_score(Y_test, y_pred))
print('\n')
print('\033[1m'+'Confusion matrix of Logistics Regression :'+'\033[0m \n',confusion_matrix(Y_test, y_pred))
print('\n')
print('\033[1m'+'classification Report of Logistics Regression'+'\033[0m \n',classification_report(Y_test, y_pred))

Logistics Regression Evaluation


Accuracy Score of Logistics Regression : 0.8705882352941177


Confusion matrix of Logistics Regression : 
 [[324  44]
 [ 55 342]]


classification Report of Logistics Regression 
               precision    recall  f1-score   support

           0       0.85      0.88      0.87       368
           1       0.89      0.86      0.87       397

    accuracy                           0.87       765
   macro avg       0.87      0.87      0.87       765
weighted avg       0.87      0.87      0.87       765

### Finding Optimal value of n_neighbors for KNN

In [ ]:
from sklearn import neighbors
from math import sqrt
from sklearn.metrics import mean_squared_error
rmse_val = [] #to store rmse values for different k
for K in range(30):
    K = K+1
    model = neighbors.KNeighborsClassifier(n_neighbors = K)

    model.fit(X_train,Y_train)  #fit the model
    y_pred=model.predict(X_test) #make prediction on test set
    error = sqrt(mean_squared_error(Y_test,y_pred)) #calculate rmse
    rmse_val.append(error) #store rmse values
    print('RMSE value for k= ' , K , 'is:', error)

In [ ]:
RMSE value for k=  1 is: 0.3273981406234008
RMSE value for k=  2 is: 0.30032661958503204
RMSE value for k=  3 is: 0.34678730932445717
RMSE value for k=  4 is: 0.31931298801289854
RMSE value for k=  5 is: 0.35791699479543954
RMSE value for k=  6 is: 0.34866692910423897
RMSE value for k=  7 is: 0.3704792868174742
RMSE value for k=  8 is: 0.3615507630310936
RMSE value for k=  9 is: 0.37399101733297235
RMSE value for k=  10 is: 0.3633540199183844
RMSE value for k=  11 is: 0.3860305788964616
RMSE value for k=  12 is: 0.37399101733297235
RMSE value for k=  13 is: 0.39107694443752145
RMSE value for k=  14 is: 0.3894020890135344
RMSE value for k=  15 is: 0.39934587037179503
RMSE value for k=  16 is: 0.39107694443752145
RMSE value for k=  17 is: 0.4009791936316524
RMSE value for k=  18 is: 0.3894020890135344
RMSE value for k=  19 is: 0.3960590171906697
RMSE value for k=  20 is: 0.39770583933420295
RMSE value for k=  21 is: 0.40422604172722165
RMSE value for k=  22 is: 0.40260589075170505
RMSE value for k=  23 is: 0.4090479940519309
RMSE value for k=  24 is: 0.4090479940519309
RMSE value for k=  25 is: 0.41381376253739977
RMSE value for k=  26 is: 0.40744701728620475
RMSE value for k=  27 is: 0.41852526649272975
RMSE value for k=  28 is: 0.4058397249567139
RMSE value for k=  29 is: 0.41381376253739977
RMSE value for k=  30 is: 0.4058397249567139

In [ ]:
#plotting the rmse values against k values -
plt.figure(figsize = (8,6))
plt.plot(range(30), rmse_val, color='blue', linestyle='dashed', marker='o', markerfacecolor='green', markersize=10)

[<matplotlib.lines.Line2D at 0x27feb025bb0>]

Comment-
At k= 2, we get the minimum RMSE value which approximately 0.30032661958503204, and shoots up on further increasing the k value. We can safely say that k=2 will give us the best result in this case

## Applying other classification algorithm

In [ ]:
model=[
        SVC(),
        GaussianNB(),
        DecisionTreeClassifier(),
        KNeighborsClassifier(n_neighbors = 22),
        RandomForestClassifier(),
        AdaBoostClassifier(),
        GradientBoostingClassifier(),
        BaggingClassifier()]

for m in model:
    m.fit(X_train,Y_train)
    y_pred=m.predict(X_test)
    print('\033[1m'+'Classification ML Algorithm Evaluation Matrix',m,'is' +'\033[0m')
    print('\n')
    print('\033[1m'+'Accuracy Score :'+'\033[0m\n', accuracy_score(Y_test, y_pred))
    print('\n')
    print('\033[1m'+'Confusion matrix :'+'\033[0m \n',confusion_matrix(Y_test, y_pred))
    print('\n')
    print('\033[1m'+'Classification Report :'+'\033[0m \n',classification_report(Y_test, y_pred))
    print('\n')
    print('============================================================================================================')

Classification ML Algorithm Evaluation Matrix SVC() is


Accuracy Score :
 0.9019607843137255


Confusion matrix : 
 [[342  26]
 [ 49 348]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.87      0.93      0.90       368
           1       0.93      0.88      0.90       397

    accuracy                           0.90       765
   macro avg       0.90      0.90      0.90       765
weighted avg       0.90      0.90      0.90       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix GaussianNB() is


Accuracy Score :
 0.8470588235294118


Confusion matrix : 
 [[315  53]
 [ 64 333]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.83      0.86      0.84       368
           1       0.86      0.84      0.85       397

    accuracy                           0.85       765
   macro avg       0.85      0.85      0.85       765
weighted avg       0.85      0.85      0.85       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix DecisionTreeClassifier() is


Accuracy Score :
 0.803921568627451


Confusion matrix : 
 [[294  74]
 [ 76 321]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.79      0.80      0.80       368
           1       0.81      0.81      0.81       397

    accuracy                           0.80       765
   macro avg       0.80      0.80      0.80       765
weighted avg       0.80      0.80      0.80       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix KNeighborsClassifier(n_neighbors=22) is


Accuracy Score :
 0.8379084967320262


Confusion matrix : 
 [[270  98]
 [ 26 371]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.91      0.73      0.81       368
           1       0.79      0.93      0.86       397

    accuracy                           0.84       765
   macro avg       0.85      0.83      0.84       765
weighted avg       0.85      0.84      0.84       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix RandomForestClassifier() is


Accuracy Score :
 0.8980392156862745


Confusion matrix : 
 [[342  26]
 [ 52 345]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.87      0.93      0.90       368
           1       0.93      0.87      0.90       397

    accuracy                           0.90       765
   macro avg       0.90      0.90      0.90       765
weighted avg       0.90      0.90      0.90       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix AdaBoostClassifier() is


Accuracy Score :
 0.8457516339869281


Confusion matrix : 
 [[311  57]
 [ 61 336]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.84      0.85      0.84       368
           1       0.85      0.85      0.85       397

    accuracy                           0.85       765
   macro avg       0.85      0.85      0.85       765
weighted avg       0.85      0.85      0.85       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix GradientBoostingClassifier() is


Accuracy Score :
 0.8562091503267973


Confusion matrix : 
 [[320  48]
 [ 62 335]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.84      0.87      0.85       368
           1       0.87      0.84      0.86       397

    accuracy                           0.86       765
   macro avg       0.86      0.86      0.86       765
weighted avg       0.86      0.86      0.86       765



============================================================================================================
Classification ML Algorithm Evaluation Matrix BaggingClassifier() is


Accuracy Score :
 0.873202614379085


Confusion matrix : 
 [[332  36]
 [ 61 336]]


Classification Report : 
               precision    recall  f1-score   support

           0       0.84      0.90      0.87       368
           1       0.90      0.85      0.87       397

    accuracy                           0.87       765
   macro avg       0.87      0.87      0.87       765
weighted avg       0.88      0.87      0.87       765



============================================================================================================
We can see that RandomForestClassifier() gives us good Accuracy and maximum f1 score. so we will continue further investigation with crossvalidation of above model

## CrossValidation :

In [ ]:
from sklearn.model_selection import cross_val_score
model=[LogisticRegression(),
        SVC(),
        GaussianNB(),
        DecisionTreeClassifier(),
        KNeighborsClassifier(n_neighbors = 12),
        RandomForestClassifier(),
        AdaBoostClassifier(),
        GradientBoostingClassifier(),
        BaggingClassifier()]

for m in model:
    score = cross_val_score(m, X, Y, cv =5)
    print('\n')
    print('\033[1m'+'Cross Validation Score', m, ':'+'\033[0m\n')
    print("Score :" ,score)
    print("Mean Score :",score.mean())
    print("Std deviation :",score.std())
    print('\n')
    print('============================================================================================================')

Cross Validation Score LogisticRegression() :

Score : [0.66810345 0.69114471 0.66954644 0.70194384 0.70410367]
Mean Score : 0.686968421836598
Std deviation : 0.01545790574091748


============================================================================================================


Cross Validation Score SVC() :

Score : [0.58405172 0.62419006 0.60475162 0.60043197 0.62419006]
Mean Score : 0.6075230878081477
Std deviation : 0.015260709074080395


============================================================================================================


Cross Validation Score GaussianNB() :

Score : [0.67241379 0.76457883 0.7300216  0.76025918 0.77537797]
Mean Score : 0.7405302748193938
Std deviation : 0.03723496223050999


============================================================================================================


Cross Validation Score DecisionTreeClassifier() :

Score : [0.67672414 0.86825054 0.90064795 0.86825054 0.87688985]
Mean Score : 0.8381526029641766
Std deviation : 0.08158083516724524


============================================================================================================


Cross Validation Score KNeighborsClassifier(n_neighbors=12) :

Score : [0.72198276 0.71274298 0.77105832 0.74730022 0.73434125]
Mean Score : 0.7374851046399047
Std deviation : 0.020424867823627377


============================================================================================================


Cross Validation Score RandomForestClassifier() :

Score : [0.70689655 0.97192225 0.95896328 0.96760259 0.98056156]
Mean Score : 0.9171892455500112
Std deviation : 0.10537679415558601


============================================================================================================


Cross Validation Score AdaBoostClassifier() :

Score : [0.60991379 0.93736501 0.92440605 0.92224622 0.96544276]
Mean Score : 0.8718747672599985
Std deviation : 0.13188200240296455


============================================================================================================


Cross Validation Score GradientBoostingClassifier() :

Score : [0.56681034 0.96760259 0.96328294 0.94384449 0.97408207]
Mean Score : 0.8831244879719968
Std deviation : 0.15847824171360397


============================================================================================================


Cross Validation Score BaggingClassifier() :

Score : [0.65517241 0.93088553 0.94816415 0.9287257  0.96544276]
Mean Score : 0.8856781112683398
Std deviation : 0.11601429810714531


============================================================================================================
On basis of maximum score in crossvalidation of Random Forest Classifier. we will apply Hyperparameter tuning on Random Forest model

## Hyper Parameter Tuning : GridSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
parameter = {  'bootstrap': [True], 'max_depth': [5, 10,20,40,50, None], 
              'max_features': ['auto', 'log2'], 
              'criterion':['gini','entropy'],
              'n_estimators': [5, 10, 15 ,25,50,100]}

In [ ]:
GCV = GridSearchCV(RandomForestClassifier(),parameter,cv=5,n_jobs = -1,verbose=3)
GCV.fit(X_train,Y_train)

Fitting 5 folds for each of 144 candidates, totalling 720 fits

GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'bootstrap': [True], 'criterion': ['gini', 'entropy'],
                         'max_depth': [5, 10, 20, 40, 50, None],
                         'max_features': ['auto', 'log2'],
                         'n_estimators': [5, 10, 15, 25, 50, 100]},
             verbose=3)

In [ ]:
GCV.best_params_

{'bootstrap': True,
 'criterion': 'entropy',
 'max_depth': 20,
 'max_features': 'log2',
 'n_estimators': 25}

## Final Model

In [ ]:
Final_mod = RandomForestClassifier(bootstrap=True,criterion='entropy',n_estimators= 25, max_depth=20 ,max_features='log2')
Final_mod.fit(X_train,Y_train)
y_pred=Final_mod.predict(X_test)
print('\033[1m'+'Accuracy Score :'+'\033[0m\n', accuracy_score(Y_test, y_pred))

Accuracy Score :
 0.8915032679738563

In [ ]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

y_pred_prob = Final_mod.predict_proba(X_test)[:,1]
fpr, tpr, thresholds = roc_curve(Y_test,y_pred_prob)
plt.plot([0,1],[0,1], 'k--')
plt.plot(fpr, tpr, label='Random Forest Classifier')
plt.xlabel('False postive rate')
plt.ylabel('True postive rate')
plt.show()
auc_score = roc_auc_score(Y_test, Final_mod.predict(X_test))
print('\033[1m'+'Auc Score :'+'\033[0m\n',auc_score)

Auc Score :
 0.8919922516701346

## Saving model

In [ ]:
import joblib
joblib.dump(Final_mod,'IBM_HR_Analytics_Final.pkl')

['IBM_HR_Analytics_Final.pkl']