# Rainfall Weather Forecating

In [ ]:
import pandas as pd
import pandas as pd
import pandas as np
import math
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn import preprocessing

In [ ]:
data=pd.read_csv("rainfall.csv")

In [ ]:
print("Data heads:")
print(data.head())
print("Null values in the dataset before preprocessing:")
print(data.isnull().sum())
print("Filling null values with mean of that particular column")
data=data.fillna(np.mean(data))
print("Mean of data:")
print(np.mean(data))
print("Null values in the dataset after preprocessing:")
print(data.isnull().sum())
print("\n\nShape: ",data.shape)

Data heads:
                 SUBDIVISION  YEAR   JAN    FEB   MAR    APR    MAY    JUN  \
0  ANDAMAN & NICOBAR ISLANDS  1901  49.2   87.1  29.2    2.3  528.8  517.5   
1  ANDAMAN & NICOBAR ISLANDS  1902   0.0  159.8  12.2    0.0  446.1  537.1   
2  ANDAMAN & NICOBAR ISLANDS  1903  12.7  144.0   0.0    1.0  235.1  479.9   
3  ANDAMAN & NICOBAR ISLANDS  1904   9.4   14.7   0.0  202.4  304.5  495.1   
4  ANDAMAN & NICOBAR ISLANDS  1905   1.3    0.0   3.3   26.9  279.5  628.7   

     JUL    AUG    SEP    OCT    NOV    DEC  ANNUAL  Jan-Feb  Mar-May  \
0  365.1  481.1  332.6  388.5  558.2   33.6  3373.2    136.3    560.3   
1  228.9  753.7  666.2  197.2  359.0  160.5  3520.7    159.8    458.3   
2  728.4  326.7  339.0  181.2  284.4  225.0  2957.4    156.7    236.1   
3  502.0  160.1  820.4  222.2  308.7   40.1  3079.6     24.1    506.9   
4  368.7  330.5  297.0  260.7   25.4  344.7  2566.7      1.3    309.7   

   Jun-Sep  Oct-Dec  
0   1696.3    980.3  
1   2185.9    716.7  
2   1874.0    690.6  
3   1977.6    571.0  
4   1624.9    630.8  
Null values in the dataset before preprocessing:
SUBDIVISION     0
YEAR            0
JAN             4
FEB             3
MAR             6
APR             4
MAY             3
JUN             5
JUL             7
AUG             4
SEP             6
OCT             7
NOV            11
DEC            10
ANNUAL         26
Jan-Feb         6
Mar-May         9
Jun-Sep        10
Oct-Dec        13
dtype: int64
Filling null values with mean of that particular column

In [ ]:
print("Info:")
print(data.info())

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4116 entries, 0 to 4115
Data columns (total 19 columns):
SUBDIVISION    4116 non-null object
YEAR           4116 non-null int64
JAN            4112 non-null float64
FEB            4113 non-null float64
MAR            4110 non-null float64
APR            4112 non-null float64
MAY            4113 non-null float64
JUN            4111 non-null float64
JUL            4109 non-null float64
AUG            4112 non-null float64
SEP            4110 non-null float64
OCT            4109 non-null float64
NOV            4105 non-null float64
DEC            4106 non-null float64
ANNUAL         4090 non-null float64
Jan-Feb        4110 non-null float64
Mar-May        4107 non-null float64
Jun-Sep        4106 non-null float64
Oct-Dec        4103 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 594.9+ KB
None

In [ ]:
print("Group by:")
data.groupby('SUBDIVISION').size()

SUBDIVISION
ANDAMAN & NICOBAR ISLANDS             110
ARUNACHAL PRADESH                      97
ASSAM & MEGHALAYA                     115
BIHAR                                 115
CHHATTISGARH                          115
COASTAL ANDHRA PRADESH                115
COASTAL KARNATAKA                     115
EAST MADHYA PRADESH                   115
EAST RAJASTHAN                        115
EAST UTTAR PRADESH                    115
GANGETIC WEST BENGAL                  115
GUJARAT REGION                        115
HARYANA DELHI & CHANDIGARH            115
HIMACHAL PRADESH                      115
JAMMU & KASHMIR                       115
JHARKHAND                             115
KERALA                                115
KONKAN & GOA                          115
LAKSHADWEEP                           114
MADHYA MAHARASHTRA                    115
MATATHWADA                            115
NAGA MANI MIZO TRIPURA                115
NORTH INTERIOR KARNATAKA              115
ORISSA                                115
PUNJAB                                115
RAYALSEEMA                            115
SAURASHTRA & KUTCH                    115
SOUTH INTERIOR KARNATAKA              115
SUB HIMALAYAN WEST BENGAL & SIKKIM    115
TAMIL NADU                            115
TELANGANA                             115
UTTARAKHAND                           115
VIDARBHA                              115
WEST MADHYA PRADESH                   115
WEST RAJASTHAN                        115
WEST UTTAR PRADESH                    115
dtype: int64

In [ ]:
print("Co-Variance =",data.cov())
print("Co-Relation =",data.corr())

Co-Variance =                 YEAR          JAN          FEB           MAR           APR  \
YEAR     1098.319127   -62.586292   -26.353058     31.654932     18.003097   
JAN       -62.586292  1127.977154   550.101602    628.598212    476.152817   
FEB       -26.353058   550.101602  1289.491312    976.198443    893.631482   
MAR        31.654932   628.598212   976.198443   2205.187483   1769.653213   
APR        18.003097   476.152817   893.631482   1769.653213   4601.067338   
MAY        14.679691   536.158548   897.957712   2097.641765   5439.731621   
JUN      -105.774951  -265.852518   283.959293   1822.977092   7251.672502   
JUL      -145.062020  -466.277526   156.901320   1230.661119   4894.644822   
AUG        40.307935    75.664690   489.217493   1197.349704   3280.755182   
SEP       -29.937572   110.457760   389.388649   1136.359489   3514.331672   
OCT         7.936314    41.352767   -16.365119    402.116378   2483.805405   
NOV       -42.738518   155.043743   -57.542304     28.440816    769.446755   
DEC       -26.870129   312.200379   201.532383    271.231858    380.122995   
ANNUAL   -241.015210  3202.434778  5868.717564  13637.538963  35114.780961   
Jan-Feb   -87.747611  1677.558801  1839.883541   1605.089686   1370.097359   
Mar-May    70.996578  1637.349028  2762.073420   6071.272275  11777.615229   
Jun-Sep  -220.926255  -539.468466  1295.311415   5372.755192  18855.921881   
Oct-Dec   -56.189215   509.381252   130.825265    705.351636   3625.069665   

                  MAY            JUN            JUL            AUG  \
YEAR        14.679691    -105.774951    -145.062020      40.307935   
JAN        536.158548    -265.852518    -466.277526      75.664690   
FEB        897.957712     283.959293     156.901320     489.217493   
MAR       2097.641765    1822.977092    1230.661119    1197.349704   
APR       5439.731621    7251.672502    4894.644822    3280.755182   
MAY      15186.841458   16396.999922   11016.951070    7656.579177   
JUN      16396.999922   55089.139884   46833.204240   29030.308199   
JUL      11016.951070   46833.204240   72651.632105   34925.319260   
AUG       7656.579177   29030.308199   34925.319260   35634.292817   
SEP       8207.809238   17524.219809   18730.140724   12707.778567   
OCT       6477.254028   11429.578491    8027.229951    4706.678765   
NOV       2965.753435    3693.877860     790.108496     225.746542   
DEC       1301.047476     880.546296    -221.870344      13.127480   
ANNUAL   77320.681497  188136.550861  197752.166990  128819.047880   
Jan-Feb   1433.060779      14.133555    -305.585413     569.282328   
Mar-May  22679.835385   25364.898653   16976.723079   12090.983751   
Jun-Sep  43191.205688  148137.651064  173208.567724  112269.366095   
Oct-Dec  10723.364015   15983.640349    8570.170618    4904.849470   

                  SEP           OCT           NOV          DEC         ANNUAL  \
YEAR       -29.937572      7.936314    -42.738518   -26.870129    -241.015210   
JAN        110.457760     41.352767    155.043743   312.200379    3202.434778   
FEB        389.388649    -16.365119    -57.542304   201.532383    5868.717564   
MAR       1136.359489    402.116378     28.440816   271.231858   13637.538963   
APR       3514.331672   2483.805405    769.446755   380.122995   35114.780961   
MAY       8207.809238   6477.254028   2965.753435  1301.047476   77320.681497   
JUN      17524.219809  11429.578491   3693.877860   880.546296  188136.550861   
JUL      18730.140724   8027.229951    790.108496  -221.870344  197752.166990   
AUG      12707.778567   4706.678765    225.746542    13.127480  128819.047880   
SEP      18335.419886   5171.366589   1428.156298   627.163725   87432.614512   
OCT       5171.366589   9904.057979   3264.933364  1185.008209   52703.831690   
NOV       1428.156298   3264.933364   4717.685480  1310.233457   19054.245330   
DEC        627.163725   1185.008209   1310.233457  1795.183953    7899.471756   
ANNUAL   87432.614512  52703.831690  19054.245330  7899.471756  816938.612980   
Jan-Feb    498.847383     22.087231     92.879315   514.051904    9071.002089   
Mar-May  12790.431298   9353.246755   3750.238732  1937.433044  126071.661328   
Jun-Sep  67283.357522  29283.099062   6136.998228  1269.283376  602139.287508   
Oct-Dec   7225.702867  14328.622339   9248.618866  4292.579313   79658.063865   

             Jan-Feb        Mar-May        Jun-Sep       Oct-Dec  
YEAR      -87.747611      70.996578    -220.926255    -56.189215  
JAN      1677.558801    1637.349028    -539.468466    509.381252  
FEB      1839.883541    2762.073420    1295.311415    130.825265  
MAR      1605.089686    6071.272275    5372.755192    705.351636  
APR      1370.097359   11777.615229   18855.921881   3625.069665  
MAY      1433.060779   22679.835385   43191.205688  10723.364015  
JUN        14.133555   25364.898653  148137.651064  15983.640349  
JUL      -305.585413   16976.723079  173208.567724   8570.170618  
AUG       569.282328   12090.983751  112269.366095   4904.849470  
SEP       498.847383   12790.431298   67283.357522   7225.702867  
OCT        22.087231    9353.246755   29283.099062  14328.622339  
NOV        92.879315    3750.238732    6136.998228   9248.618866  
DEC       514.051904    1937.433044    1269.283376   4292.579313  
ANNUAL   9071.002089  126071.661328  602139.287508  79658.063865  
Jan-Feb  3517.471729    4398.965796     759.036943    632.995794  
Mar-May  4398.965796   40528.520455   67034.771422  15015.291822  
Jun-Sep   759.036943   67034.771422  500898.074176  36607.368270  
Oct-Dec   632.995794   15015.291822   36607.368270  27869.851809  
Co-Relation =              YEAR       JAN       FEB       MAR       APR       MAY       JUN  \
YEAR     1.000000 -0.056235 -0.022144  0.020338  0.008007  0.003594 -0.013594   
JAN     -0.056235  1.000000  0.456183  0.398502  0.209302  0.129622 -0.033725   
FEB     -0.022144  0.456183  1.000000  0.579819  0.367114  0.203062  0.033703   
MAR      0.020338  0.398502  0.579819  1.000000  0.556856  0.362815  0.165857   
APR      0.008007  0.209302  0.367114  0.556856  1.000000  0.650595  0.457091   
MAY      0.003594  0.129622  0.203062  0.362815  0.650595  1.000000  0.567618   
JUN     -0.013594 -0.033725  0.033703  0.165857  0.457091  0.567618  1.000000   
JUL     -0.016240 -0.051642  0.016235  0.097334  0.268097  0.332283  0.741285   
AUG      0.006442  0.011952  0.072159  0.135071  0.256168  0.329499  0.655142   
SEP     -0.006670  0.024289  0.080148  0.178904  0.382525  0.492378  0.551890   
OCT      0.002406  0.012374 -0.004581  0.086187  0.368886  0.529342  0.490393   
NOV     -0.018776  0.067281 -0.023413  0.008814  0.165642  0.351931  0.229718   
DEC     -0.019139  0.219701  0.132570  0.136328  0.132892  0.250112  0.088782   
ANNUAL  -0.008044  0.105696  0.181563  0.322199  0.577573  0.698013  0.891303   
Jan-Feb -0.044653  0.842390  0.863815  0.576366  0.340841  0.196168  0.001016   
Mar-May  0.010637  0.242256  0.382620  0.642294  0.864172  0.915019  0.538562   
Jun-Sep -0.009418 -0.022748  0.051066  0.162055  0.394859  0.496164  0.893968   
Oct-Dec -0.010155  0.090932  0.021878  0.090108  0.321407  0.523684  0.409050   

              JUL       AUG       SEP       OCT       NOV       DEC    ANNUAL  \
YEAR    -0.016240  0.006442 -0.006670  0.002406 -0.018776 -0.019139 -0.008044   
JAN     -0.051642  0.011952  0.024289  0.012374  0.067281  0.219701  0.105696   
FEB      0.016235  0.072159  0.080148 -0.004581 -0.023413  0.132570  0.181563   
MAR      0.097334  0.135071  0.178904  0.086187  0.008814  0.136328  0.322199   
APR      0.268097  0.256168  0.382525  0.368886  0.165642  0.132892  0.577573   
MAY      0.332283  0.329499  0.492378  0.529342  0.351931  0.250112  0.698013   
JUN      0.741285  0.655142  0.551890  0.490393  0.229718  0.088782  0.891303   
JUL      1.000000  0.686662  0.513067  0.299221  0.042671 -0.019427  0.812279   
AUG      0.686662  1.000000  0.497037  0.250600  0.017488  0.001648  0.759304   
SEP      0.513067  0.497037  1.000000  0.384138  0.153465  0.109457  0.715135   
OCT      0.299221  0.250600  0.384138  1.000000  0.477503  0.281172  0.587065   
NOV      0.042671  0.017488  0.153465  0.477503  1.000000  0.451407  0.308768   
DEC     -0.019427  0.001648  0.109457  0.281172  0.451407  1.000000  0.207176   
ANNUAL   0.812279  0.759304  0.715135  0.587065  0.308768  0.207176  1.000000   
Jan-Feb -0.019157  0.050918  0.062131  0.003743  0.022885  0.204848  0.169710   
Mar-May  0.313726  0.318347  0.470032  0.468048  0.272268  0.228473  0.696318   
Jun-Sep  0.907723  0.840352  0.701980  0.416350  0.126338  0.042440  0.943661   
Oct-Dec  0.190400  0.156293  0.319832  0.862761  0.808798  0.606658  0.529596   

          Jan-Feb   Mar-May   Jun-Sep   Oct-Dec  
YEAR    -0.044653  0.010637 -0.009418 -0.010155  
JAN      0.842390  0.242256 -0.022748  0.090932  
FEB      0.863815  0.382620  0.051066  0.021878  
MAR      0.576366  0.642294  0.162055  0.090108  
APR      0.340841  0.864172  0.394859  0.321407  
MAY      0.196168  0.915019  0.496164  0.523684  
JUN      0.001016  0.538562  0.893968  0.409050  
JUL     -0.019157  0.313726  0.907723  0.190400  
AUG      0.050918  0.318347  0.840352  0.156293  
SEP      0.062131  0.470032  0.701980  0.319832  
OCT      0.003743  0.468048  0.416350  0.862761  
NOV      0.022885  0.272268  0.126338  0.808798  
DEC      0.204848  0.228473  0.042440  0.606658  
ANNUAL   0.169710  0.696318  0.943661  0.529596  
Jan-Feb  1.000000  0.368551  0.018126  0.064088  
Mar-May  0.368551  1.000000  0.472508  0.449004  
Jun-Sep  0.018126  0.472508  1.000000  0.310433  
Oct-Dec  0.064088  0.449004  0.310433  1.000000

In [ ]:
corr_cols=data.corr()['ANNUAL'].sort_values()[::-1]
print("Index of correlation columns:",corr_cols.index)

Index of correlation columns: Index(['ANNUAL', 'Jun-Sep', 'JUN', 'JUL', 'AUG', 'SEP', 'MAY', 'Mar-May',
       'OCT', 'APR', 'Oct-Dec', 'MAR', 'NOV', 'DEC', 'FEB', 'Jan-Feb', 'JAN',
       'YEAR'],
      dtype='object')

In [ ]:
print("Scatter plot of annual and january attributes")
plt.scatter(data.ANNUAL,data.JAN)

Scatter plot of annual and january attributes
<matplotlib.collections.PathCollection at 0x994f910>

In [ ]:
print("Box Plot of annual rainfall data in years 1901-2015")
data['ANNUAL'].plot(kind='box',sharex=False,sharey=False)

Box Plot of annual rainfall data in years 1901-2015
<matplotlib.axes._subplots.AxesSubplot at 0x995ca10>

In [ ]:
print("Histograms showing the data from attributes (JANUARY to DECEMBER) of the years 1901-2015:")
data['JAN'].hist(bins=20)
data['FEB'].hist(bins=20)
data['MAR'].hist(bins=20)
data['APR'].hist(bins=20)
data['MAY'].hist(bins=20)
data['JUN'].hist(bins=20)
data['JUL'].hist(bins=20)
data['AUG'].hist(bins=20)
data['SEP'].hist(bins=20)
data['OCT'].hist(bins=20)
data['NOV'].hist(bins=20)
data['DEC'].hist(bins=20)

Histograms showing the data from attributes (JANUARY to DECEMBER) of the years 1901-2015:
<matplotlib.axes._subplots.AxesSubplot at 0x99a6710>

In [ ]:
print("Histogram showing the annual rainfall of the all states:")
data['ANNUAL'].hist(bins=20)

Histogram showing the annual rainfall of the all states
<matplotlib.axes._subplots.AxesSubplot at 0x9994eb0>

In [ ]:
print("Violin plot of the ANNUAL attribute :-")
sb.violinplot(data=data['ANNUAL'])

Violin plot of the ANNUAL attribute :-
<matplotlib.axes._subplots.AxesSubplot at 0x995c1b0>